.alert {
    border-radius: 3px;
    border: 0;
    padding: 15px 2em 15px 15px;
    position: relative;
    .alert-link {
        text-decoration: underline;
        font-weight: 600;
        &:hover {
            text-decoration: underline;
        }
    }
    .close {
        font-size: 12.5px;
        text-shadow: none;
        opacity: 0.7;
        position: absolute;
        left: auto;
        right: 10px;
        top: 10px;
    }
    button.close {
        padding: 1px;
        border-radius: 20px;
        transition: all, 0.3s;
        >span:not(.sr-only) {
            display: block;
            width: 1em;
            height: 1em;
            line-height: 0.8em;
        }
        &:hover {
            opacity: 0.55;
        }
        &:active {
            opacity: 0.3;
        }
    }
}

.alert-primary {
    border-color: transparent;
    border-left: 3px solid #122130;
}

.alert-info {
    border-color: transparent;
    border-left: 3px solid #116f99;
}

.alert-success {
    border-color: transparent;
    border-left: 3px solid #648e33;
}

.alert-warning {
    border-color: transparent;
    border-left: 3px solid #b07c03;
}

.alert-danger {
    border-color: transparent;
    border-left: 3px solid #cf1c0f;
}

.alert-mint {
    border-color: transparent;
    border-left: 3px solid #1a665f;
    color: #fff;
}

.alert-purple {
    border-color: transparent;
    border-left: 3px solid #773383;
    color: #fff;
}

.alert-pink {
    border-color: transparent;
    border-left: 3px solid #e62063;
    color: #fff;
}

.alert-dark {
    border-color: transparent;
    border-left: 3px solid #31373e;
    color: #fff;
}