.badge {
    color: #fff;
    &:empty.badge-icon {
        display: inline-block;
        width: 0.7em;
        height: 0.7em;
        padding: 0;
        min-width: 5px;
        margin: 0.5em;
        border-radius: 50%;
    }
    &.badge-fw,
    &:empty.badge-fw {
        margin-right: 1em;
    }
}

.badge-stat {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0px 7px 0 0 !important;
    box-shadow: 0 0 0 2px;
}

.badge-default {
    background-color: #e9eeef;
    color: #7a878e;
}

.badge-primary {
    background-color: #25476a;
}

.badge-info {
    background-color: #03a9f4;
}

.badge-success {
    background-color: #8bc34a;
}

.badge-warning {
    background-color: #ffb300;
}

.badge-danger {
    background-color: #f44336;
}

.badge-mint {
    background-color: #26a69a;
}

.badge-purple {
    background-color: #ab47bc;
}

.badge-pink {
    background-color: #f06292;
}

.badge-dark {
    background-color: #3a444e;
}

#container .badge {
    font-size: .8em;
    &:not(.badge-default) {
        color: #fff;
    }
}

.label {
    border-radius: 3px;
    font-weight: 600;
    &:empty {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: sub;
    }
    &.label-fw {
        margin-right: 0.5em;
    }
}

.labels .label {
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 3px;
}

.label-md {
    font-size: 100%;
}

.label-table {
    display: inline-block;
    width: 80%;
    min-width: 8ex;
    font-size: 1em;
    max-width: 100px;
    padding: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: top;
}

.label-default {
    background-color: #e3e8ee;
    color: #333;
    &[href] {
        &:hover,
        &:focus {
            background-color: #d3dbe4;
        }
    }
}

.label-primary {
    background-color: $primary;
    &[href] {
        &:hover,
        &:focus {
            background-color: #1e3a57;
        }
    }
}

.label-info {
    background-color: #03a9f4;
    &[href] {
        &:hover,
        &:focus {
            background-color: #0398db;
        }
    }
}

.label-success {
    background-color: #8bc34a;
    &[href] {
        &:hover,
        &:focus {
            background-color: #7eb73d;
        }
    }
}

.label-warning {
    background-color: $warning;
    &[href] {
        &:hover,
        &:focus {
            background-color: #e6a100;
        }
    }
}

.label-danger {
    background-color: $danger;
    &[href] {
        &:hover,
        &:focus {
            background-color: #f32c1e;
        }
    }
}

.label-mint {
    background-color: $mint;
    &[href] {
        &:hover,
        &:focus {
            background-color: #219187;
        }
    }
}

.label-purple {
    background-color: #ab47bc;
    &[href] {
        &:hover,
        &:focus {
            background-color: #9b3eab;
        }
    }
}

.label-pink {
    background-color: #f06292;
    &[href] {
        &:hover,
        &:focus {
            background-color: #ee4b82;
        }
    }
}

.label-dark {
    background-color: #3a444e;
    &[href] {
        &:hover,
        &:focus {
            background-color: #2f373f;
        }
    }
}