$color_1: #fff;
$background_color_1: #fff;
.blog {
    .card {
        padding: 15px;
    }
    .card[class*=" bg-"] {
        h2 {
            color: $color_1;
        }
    }
    h2 {
        font-size: 17px;
        margin-top: 5px;
    }
    .blog-body {
        margin-bottom: 10px;
    }
    .blog-img-sm {
        padding: 55px 10px;
    }
    .blog-content {
        padding: 10px 0 5px;
        &:first-child {
            padding-top: 0;
        }
    }
    .blog-footer {
        border-top: 1px solid rgba(0, 0, 0, 0.07);
        padding-top: 10px;
        white-space: nowrap;
        vertical-align: middle;
    }
}

.blog-details {
    h1 {
        font-size: 25px;
        margin-top: 0;
    }
    .blog-header {
        position: relative;
        max-height: 50vh;
        overflow: hidden;
        margin: 0 !important;
        small {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            padding-top: 3px;
            background-color: $background_color_1;
            display: block;
        }
    }
    .blog-content {
        margin-top: 25px;
    }
    .blog-body {
        font-size: 15px;
        line-height: 1.8em;
        p {
            margin-bottom: 15px;
        }
    }
}

@media (min-width: 1024px) {
    .blog-header {
        .img-responsive {
            width: 100%;
        }
    }
}