.btn {
    cursor: pointer;
    background-color: transparent;
    color: inherit;
    padding: 8px 12px;
    border-radius: 3px;
    border: 1px solid transparent;
    font-size: 13px;
    line-height: 1.475;
    vertical-align: middle;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.25s;
    &:not(.disabled):not(:disabled):hover {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    }
    &.focus,
    &:focus,
    &:hover {
        color: inherit;
    }
    &:not(.disabled):not(:disabled) {
        &:active,
        &.active {
            box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
        }
    }
}

.btn-lg,
.btn-icon.btn-lg {
    font-size: 17px;
    line-height: 1.44;
}

.btn-sm,
.btn-icon.btn-sm,
.btn-xs {
    font-size: 11px;
    line-height: 1.5;
}

.btn-icon {
    &.btn-xs {
        font-size: 11px;
        line-height: 1.5;
    }
    padding-left: 9px;
    padding-right: 9px;
    box-shadow: none !important;
    >i,
    &:before {
        display: inline-block;
        min-width: 1.05em;
    }
    >i:before {
        line-height: inherit;
    }
    &:hover {
        transform: scale(1.2);
    }
}

.btn-file {
    position: relative;
    overflow: hidden;
    input[type="file"] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
}

.btn-link {
    color: #0391d1;
    border-color: transparent;
    &:hover,
    &:focus,
    &:active {
        color: #0275a8;
    }
}

.btn.btn-link {
    &:focus,
    &:active {
        box-shadow: none;
    }
}

.btn-link.disabled {
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.btn-trans {
    padding-left: 5px;
    padding-right: 5px;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none !important;
}

.btn-default {
    background-color: #fff;
    border-color: rgba(0, 0, 0, 0.07) !important;
    color: #7a878e;
    &:focus {
        background-color: #fff;
        border-color: rgba(0, 0, 0, 0.07) !important;
        color: #7a878e;
    }
    &:hover {
        background-color: #ededed !important;
        border-color: rgba(0, 0, 0, 0.07) !important;
        color: #7a878e !important;
    }
}

.btn-hover-default {
    &:hover,
    &:active,
    &.active {
        background-color: #fff !important;
        border-color: rgba(0, 0, 0, 0.07) !important;
        color: #7a878e !important;
    }
}

.btn-default:active {
    background-color: #ededed !important;
    border-color: rgba(0, 0, 0, 0.07) !important;
    color: #7a878e !important;
}

.btn-active-default {
    &.btn {
        &:active,
        &.active {
            background-color: #ededed !important;
            border-color: rgba(0, 0, 0, 0.07) !important;
            color: #7a878e !important;
        }
    }
    +.dropdown-menu> {
        li>a {
            &:hover,
            &:focus {
                background-color: #ededed !important;
                border-color: rgba(0, 0, 0, 0.07) !important;
                color: #7a878e !important;
            }
        }
        .active>a {
            background-color: #ededed !important;
            border-color: rgba(0, 0, 0, 0.07) !important;
            color: #7a878e !important;
        }
    }
}

.open .dropdown-toggle.btn.btn-active-default,
.btn-group.open .dropdown-toggle.btn.btn-active-default {
    background-color: #ededed !important;
    border-color: rgba(0, 0, 0, 0.07) !important;
    color: #7a878e !important;
}

.btn-default {
    &.active,
    &:disabled,
    &.disabled {
        background-color: #ededed !important;
        border-color: rgba(0, 0, 0, 0.07) !important;
        color: #7a878e !important;
    }
    &:not([class*="btn-active-"])+.dropdown-menu> {
        li>a {
            &:hover,
            &:focus {
                background-color: #ededed !important;
                border-color: rgba(0, 0, 0, 0.07) !important;
                color: #7a878e !important;
            }
        }
        .active>a {
            background-color: #ededed !important;
            border-color: rgba(0, 0, 0, 0.07) !important;
            color: #7a878e !important;
        }
    }
    +.dropdown-menu:not(.head-list)>li>a.active {
        background-color: #ededed !important;
        border-color: rgba(0, 0, 0, 0.07) !important;
        color: #7a878e !important;
    }
}

.open>.dropdown-toggle.btn-default {
    background-color: #ededed !important;
    border-color: rgba(0, 0, 0, 0.07) !important;
    color: #7a878e !important;
}

.btn-default i {
    color: inherit;
}

.btn-primary {
    background-color: #294f75;
    border-color: #25476a !important;
    color: #fff;
    &:focus {
        background-color: #294f75;
        border-color: #25476a !important;
        color: #fff;
    }
    &:hover {
        background-color: #1c3550 !important;
        border-color: #1c3550 !important;
        color: #fff !important;
    }
}

.btn-hover-primary {
    &:hover,
    &:active,
    &.active {
        background-color: #1c3550 !important;
        border-color: #1c3550 !important;
        color: #fff !important;
    }
}

.btn-primary:active {
    background-color: #1c3550 !important;
    border-color: #1c3550 !important;
    color: #fff !important;
}

.btn-active-primary {
    &.btn {
        &:active,
        &.active {
            background-color: #1c3550 !important;
            border-color: #1c3550 !important;
            color: #fff !important;
        }
    }
    +.dropdown-menu> {
        li>a {
            &:hover,
            &:focus {
                background-color: #1c3550 !important;
                border-color: #1c3550 !important;
                color: #fff !important;
            }
        }
        .active>a {
            background-color: #1c3550 !important;
            border-color: #1c3550 !important;
            color: #fff !important;
        }
    }
}

.open .dropdown-toggle.btn.btn-active-primary,
.btn-group.open .dropdown-toggle.btn.btn-active-primary {
    background-color: #1c3550 !important;
    border-color: #1c3550 !important;
    color: #fff !important;
}

.btn-primary {
    &.active,
    &:disabled,
    &.disabled {
        background-color: #1c3550 !important;
        border-color: #1c3550 !important;
        color: #fff !important;
    }
    &:not([class*="btn-active-"])+.dropdown-menu> {
        li>a {
            &:hover,
            &:focus {
                background-color: #1c3550 !important;
                border-color: #1c3550 !important;
                color: #fff !important;
            }
        }
        .active>a {
            background-color: #1c3550 !important;
            border-color: #1c3550 !important;
            color: #fff !important;
        }
    }
    +.dropdown-menu:not(.head-list)>li>a.active {
        background-color: #1c3550 !important;
        border-color: #1c3550 !important;
        color: #fff !important;
    }
}

.open>.dropdown-toggle.btn-primary {
    background-color: #1c3550 !important;
    border-color: #1c3550 !important;
    color: #fff !important;
}

.btn-info {
    background-color: #0ab1fc;
    border-color: #03a9f4 !important;
    color: #fff;
    &:focus {
        background-color: #0ab1fc;
        border-color: #03a9f4 !important;
        color: #fff;
    }
    &:hover {
        background-color: #0391d1 !important;
        border-color: #0391d1 !important;
        color: #fff !important;
    }
}

.btn-hover-info {
    &:hover,
    &:active,
    &.active {
        background-color: #0391d1 !important;
        border-color: #0391d1 !important;
        color: #fff !important;
    }
}

.btn-info:active {
    background-color: #0391d1 !important;
    border-color: #0391d1 !important;
    color: #fff !important;
}

.btn-active-info {
    &.btn {
        &:active,
        &.active {
            background-color: #0391d1 !important;
            border-color: #0391d1 !important;
            color: #fff !important;
        }
    }
    +.dropdown-menu> {
        li>a {
            &:hover,
            &:focus {
                background-color: #0391d1 !important;
                border-color: #0391d1 !important;
                color: #fff !important;
            }
        }
        .active>a {
            background-color: #0391d1 !important;
            border-color: #0391d1 !important;
            color: #fff !important;
        }
    }
}

.open .dropdown-toggle.btn.btn-active-info,
.btn-group.open .dropdown-toggle.btn.btn-active-info {
    background-color: #0391d1 !important;
    border-color: #0391d1 !important;
    color: #fff !important;
}

.btn-info {
    &.active,
    &:disabled,
    &.disabled {
        background-color: #0391d1 !important;
        border-color: #0391d1 !important;
        color: #fff !important;
    }
    &:not([class*="btn-active-"])+.dropdown-menu> {
        li>a {
            &:hover,
            &:focus {
                background-color: #0391d1 !important;
                border-color: #0391d1 !important;
                color: #fff !important;
            }
        }
        .active>a {
            background-color: #0391d1 !important;
            border-color: #0391d1 !important;
            color: #fff !important;
        }
    }
    +.dropdown-menu:not(.head-list)>li>a.active {
        background-color: #0391d1 !important;
        border-color: #0391d1 !important;
        color: #fff !important;
    }
}

.open>.dropdown-toggle.btn-info {
    background-color: #0391d1 !important;
    border-color: #0391d1 !important;
    color: #fff !important;
}

.btn-success {
    background-color: #92c755;
    border-color: #8bc34a !important;
    color: #fff;
    &:focus {
        background-color: #92c755;
        border-color: #8bc34a !important;
        color: #fff;
    }
    &:hover {
        background-color: #79af3a !important;
        border-color: #79af3a !important;
        color: #fff !important;
    }
}

.btn-hover-success {
    &:hover,
    &:active,
    &.active {
        background-color: #79af3a !important;
        border-color: #79af3a !important;
        color: #fff !important;
    }
}

.btn-success:active {
    background-color: #79af3a !important;
    border-color: #79af3a !important;
    color: #fff !important;
}

.btn-active-success {
    &.btn {
        &:active,
        &.active {
            background-color: #79af3a !important;
            border-color: #79af3a !important;
            color: #fff !important;
        }
    }
    +.dropdown-menu> {
        li>a {
            &:hover,
            &:focus {
                background-color: #79af3a !important;
                border-color: #79af3a !important;
                color: #fff !important;
            }
        }
        .active>a {
            background-color: #79af3a !important;
            border-color: #79af3a !important;
            color: #fff !important;
        }
    }
}

.open .dropdown-toggle.btn.btn-active-success,
.btn-group.open .dropdown-toggle.btn.btn-active-success {
    background-color: #79af3a !important;
    border-color: #79af3a !important;
    color: #fff !important;
}

.btn-success {
    &.active,
    &:disabled,
    &.disabled {
        background-color: #79af3a !important;
        border-color: #79af3a !important;
        color: #fff !important;
    }
    &:not([class*="btn-active-"])+.dropdown-menu> {
        li>a {
            &:hover,
            &:focus {
                background-color: #79af3a !important;
                border-color: #79af3a !important;
                color: #fff !important;
            }
        }
        .active>a {
            background-color: #79af3a !important;
            border-color: #79af3a !important;
            color: #fff !important;
        }
    }
    +.dropdown-menu:not(.head-list)>li>a.active {
        background-color: #79af3a !important;
        border-color: #79af3a !important;
        color: #fff !important;
    }
}

.open>.dropdown-toggle.btn-success {
    background-color: #79af3a !important;
    border-color: #79af3a !important;
    color: #fff !important;
}

.btn-warning {
    background-color: #ffb80f;
    border-color: #ffb300 !important;
    color: #fff;
    &:focus {
        background-color: #ffb80f;
        border-color: #ffb300 !important;
        color: #fff;
    }
    &:hover {
        background-color: #db9a00 !important;
        border-color: #db9a00 !important;
        color: #fff !important;
    }
}

.btn-hover-warning {
    &:hover,
    &:active,
    &.active {
        background-color: #db9a00 !important;
        border-color: #db9a00 !important;
        color: #fff !important;
    }
}

.btn-warning:active {
    background-color: #db9a00 !important;
    border-color: #db9a00 !important;
    color: #fff !important;
}

.btn-active-warning {
    &.btn {
        &:active,
        &.active {
            background-color: #db9a00 !important;
            border-color: #db9a00 !important;
            color: #fff !important;
        }
    }
    +.dropdown-menu> {
        li>a {
            &:hover,
            &:focus {
                background-color: #db9a00 !important;
                border-color: #db9a00 !important;
                color: #fff !important;
            }
        }
        .active>a {
            background-color: #db9a00 !important;
            border-color: #db9a00 !important;
            color: #fff !important;
        }
    }
}

.open .dropdown-toggle.btn.btn-active-warning,
.btn-group.open .dropdown-toggle.btn.btn-active-warning {
    background-color: #db9a00 !important;
    border-color: #db9a00 !important;
    color: #fff !important;
}

.btn-warning {
    &.active,
    &:disabled,
    &.disabled {
        background-color: #db9a00 !important;
        border-color: #db9a00 !important;
        color: #fff !important;
    }
    &:not([class*="btn-active-"])+.dropdown-menu> {
        li>a {
            &:hover,
            &:focus {
                background-color: #db9a00 !important;
                border-color: #db9a00 !important;
                color: #fff !important;
            }
        }
        .active>a {
            background-color: #db9a00 !important;
            border-color: #db9a00 !important;
            color: #fff !important;
        }
    }
    +.dropdown-menu:not(.head-list)>li>a.active {
        background-color: #db9a00 !important;
        border-color: #db9a00 !important;
        color: #fff !important;
    }
}

.open>.dropdown-toggle.btn-warning {
    background-color: #db9a00 !important;
    border-color: #db9a00 !important;
    color: #fff !important;
}

.btn-danger {
    background-color: #f55145;
    border-color: #f44336 !important;
    color: #fff;
    &:focus {
        background-color: #f55145;
        border-color: #f44336 !important;
        color: #fff;
    }
    &:hover {
        background-color: #f22314 !important;
        border-color: #f22314 !important;
        color: #fff !important;
    }
}

.btn-hover-danger {
    &:hover,
    &:active,
    &.active {
        background-color: #f22314 !important;
        border-color: #f22314 !important;
        color: #fff !important;
    }
}

.btn-danger:active {
    background-color: #f22314 !important;
    border-color: #f22314 !important;
    color: #fff !important;
}

.btn-active-danger {
    &.btn {
        &:active,
        &.active {
            background-color: #f22314 !important;
            border-color: #f22314 !important;
            color: #fff !important;
        }
    }
    +.dropdown-menu> {
        li>a {
            &:hover,
            &:focus {
                background-color: #f22314 !important;
                border-color: #f22314 !important;
                color: #fff !important;
            }
        }
        .active>a {
            background-color: #f22314 !important;
            border-color: #f22314 !important;
            color: #fff !important;
        }
    }
}

.open .dropdown-toggle.btn.btn-active-danger,
.btn-group.open .dropdown-toggle.btn.btn-active-danger {
    background-color: #f22314 !important;
    border-color: #f22314 !important;
    color: #fff !important;
}

.btn-danger {
    &.active,
    &:disabled,
    &.disabled {
        background-color: #f22314 !important;
        border-color: #f22314 !important;
        color: #fff !important;
    }
    &:not([class*="btn-active-"])+.dropdown-menu> {
        li>a {
            &:hover,
            &:focus {
                background-color: #f22314 !important;
                border-color: #f22314 !important;
                color: #fff !important;
            }
        }
        .active>a {
            background-color: #f22314 !important;
            border-color: #f22314 !important;
            color: #fff !important;
        }
    }
    +.dropdown-menu:not(.head-list)>li>a.active {
        background-color: #f22314 !important;
        border-color: #f22314 !important;
        color: #fff !important;
    }
}

.open>.dropdown-toggle.btn-danger {
    background-color: #f22314 !important;
    border-color: #f22314 !important;
    color: #fff !important;
}

.btn-dark {
    background-color: #414c57;
    border-color: #3a444e !important;
    color: #fff;
    &:focus {
        background-color: #414c57;
        border-color: #3a444e !important;
        color: #fff;
    }
    &:hover {
        background-color: #2b323a !important;
        border-color: #2b323a !important;
        color: #fff !important;
    }
}

.btn-hover-dark {
    &:hover,
    &:active,
    &.active {
        background-color: #2b323a !important;
        border-color: #2b323a !important;
        color: #fff !important;
    }
}

.btn-dark:active {
    background-color: #2b323a !important;
    border-color: #2b323a !important;
    color: #fff !important;
}

.btn-active-dark+.dropdown-menu> {
    li>a {
        &:hover,
        &:focus {
            background-color: #2b323a !important;
            border-color: #2b323a !important;
            color: #fff !important;
        }
    }
    .active>a {
        background-color: #2b323a !important;
        border-color: #2b323a !important;
        color: #fff !important;
    }
}

.open .dropdown-toggle.btn.btn-active-dark,
.btn-group.open .dropdown-toggle.btn.btn-active-dark {
    background-color: #2b323a !important;
    border-color: #2b323a !important;
    color: #fff !important;
}

.btn-dark {
    &.active,
    &:disabled,
    &.disabled {
        background-color: #2b323a !important;
        border-color: #2b323a !important;
        color: #fff !important;
    }
    &:not([class*="btn-active-"])+.dropdown-menu> {
        li>a {
            &:hover,
            &:focus {
                background-color: #2b323a !important;
                border-color: #2b323a !important;
                color: #fff !important;
            }
        }
        .active>a {
            background-color: #2b323a !important;
            border-color: #2b323a !important;
            color: #fff !important;
        }
    }
    +.dropdown-menu:not(.head-list)>li>a.active {
        background-color: #2b323a !important;
        border-color: #2b323a !important;
        color: #fff !important;
    }
}

.open>.dropdown-toggle.btn-dark {
    background-color: #2b323a !important;
    border-color: #2b323a !important;
    color: #fff !important;
}

.btn-group-vertical .btn:not(.btn-default):not(.btn-trans),
.btn-group .btn:not(.btn-default):not(.btn-trans) {
    border-color: rgba(0, 0, 0, 0.09);
}

.btn-lg,
.btn-icon.btn-lg,
.btn-group-lg>.btn {
    padding: 10px 16px;
}

.btn-sm,
.btn-icon.btn-sm,
.btn-group-sm>.btn {
    padding: 5px 10px;
}

.btn-xs,
.btn-icon.btn-xs,
.btn-group-xs>.btn {
    padding: 1px 5px;
}

.btn-lg,
.btn-icon.btn-lg,
.btn-group-lg>.btn,
.btn-lg,
.btn-icon.btn-lg,
.btn-group-sm>.btn,
.btn-lg,
.btn-icon.btn-lg,
.btn-group-xs>.btn {
    border-radius: 3px;
}

.btn-group-vertical>.btn {
    &:first-child:not(:last-child) {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
    &:last-child:not(:first-child) {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
}

.btn-circle {
    padding: 7px;
    border-radius: 50%;
}

.btn-lg.btn-circle {
    padding: 17px;
}

.btn-sm.btn-circle {
    padding: 7px;
}

.btn-xs.btn-circle {
    padding: 4px;
}

.btn-circle {
    >i,
    &:before {
        display: block;
        width: 1.4em;
        height: 1.4em;
        line-height: 1.4;
    }
}

.btn-rounded {
    border-radius: 17px;
    overflow: hidden;
}

.btn-lg.btn-rounded {
    border-radius: 30px;
}

.btn-sm.btn-rounded {
    border-radius: 15px;
}

.btn-xs.btn-rounded {
    border-radius: 10px;
}

.btn-group.btn-rounded {
    overflow: hidden;
}

.btn-labeled {
    text-align: left;
    &.fa {
        text-align: left;
    }
    &:not(.btn-block):not(.form-icon) {
        font-family: inherit;
    }
}

.btn-block.btn-labeled:not(.form-icon) {
    font-family: inherit;
}

.btn-labeled {
    .btn-label,
    &:before {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        display: inline-block;
        font-size: 16px;
        vertical-align: middle !important;
        text-align: center;
        width: 2em;
        line-height: 1.42857 !important;
        margin: -0.25em 5px -0.23em -12px;
    }
    &.fa {
        line-height: 1.42857;
        &:before {
            font-family: FontAwesome;
        }
    }
    .fa:before {
        font-family: FontAwesome;
    }
}

.btn-lg {
    &.btn-labeled {
        font-size: 17px;
        &.fa {
            line-height: 1.33;
        }
        &:before {
            font-size: 20px;
            margin-left: -16px;
        }
    }
    .btn-label {
        font-size: 20px;
        margin-left: -16px;
    }
}

.btn-sm {
    &.btn-labeled {
        font-size: 11px;
        &.fa {
            line-height: 1.42857;
        }
        &:before {
            font-size: 14px;
            margin-left: -10px;
        }
    }
    .btn-label {
        font-size: 14px;
        margin-left: -10px;
    }
}

.btn-xs {
    &.btn-labeled {
        font-size: 11px;
        &.fa {
            line-height: 1.5;
        }
        &:before {
            font-size: 12px;
            margin-left: -5px;
        }
    }
    .btn-label {
        font-size: 12px;
        margin-left: -5px;
    }
}

.bg-trans {
    background-color: transparent;
}

.bg-light {
    background-color: #fff;
    color: #7a878e;
    a {
        color: #7a878e;
        &:hover,
        &:focus {
            color: #7a878e;
        }
    }
}

.bg-gray-light {
    background-color: #f8f9fa;
    color: #7a878e;
    a {
        color: #7a878e;
        &:hover,
        &:focus {
            color: #7a878e;
        }
    }
}

.bg-gray {
    background-color: #e9eeef;
    color: #7a878e;
    a {
        color: #7a878e;
        &:hover,
        &:focus {
            color: #7a878e;
        }
    }
}

.bg-gray-dark {
    background-color: #cbd7da;
    color: #7a878e;
    a {
        color: #7a878e;
        &:hover,
        &:focus {
            color: #7a878e;
        }
    }
}

.bg-trans-light {
    background-color: rgba(255, 255, 255, 0.1);
    color: inherit;
    a {
        color: inherit;
        &:hover,
        &:focus {
            color: inherit;
        }
    }
}

.bg-trans-dark {
    background-color: rgba(0, 0, 0, 0.1);
    color: inherit;
    a {
        color: inherit;
        &:hover,
        &:focus {
            color: inherit;
        }
    }
}

.bg-primary {
    background-color: #25476a;
    color: #fff;
    a {
        color: #fff;
        &:hover,
        &:focus {
            color: #fff;
        }
    }
}

.bg-info {
    background-color: #03a9f4;
    color: #fff;
    a {
        color: #fff;
        &:hover,
        &:focus {
            color: #fff;
        }
    }
}

.bg-success {
    background-color: #8bc34a;
    color: #fff;
    a {
        color: #fff;
        &:hover,
        &:focus {
            color: #fff;
        }
    }
}

.bg-warning {
    background-color: #ffb300;
    color: #fff;
    a {
        color: #fff;
        &:hover,
        &:focus {
            color: #fff;
        }
    }
}

.bg-danger {
    background-color: #f44336;
    color: #fff;
    a {
        color: #fff;
        &:hover,
        &:focus {
            color: #fff;
        }
    }
}

.bg-mint {
    background-color: #26a69a;
    color: #fff;
    a {
        color: #fff;
        &:hover,
        &:focus {
            color: #fff;
        }
    }
}

.bg-purple {
    background-color: #ab47bc;
    color: #fff;
    a {
        color: #fff;
        &:hover,
        &:focus {
            color: #fff;
        }
    }
}

.bg-pink {
    background-color: #f06292;
    color: #fff;
    a {
        color: #fff;
        &:hover,
        &:focus {
            color: #fff;
        }
    }
}

.bg-dark {
    background-color: #3a444e;
    color: #fff;
    a {
        color: #fff;
        &:hover,
        &:focus {
            color: #fff;
        }
    }
}

.bg-gradient-primary {
    background-image: $gradient-primary !important;
    color: #fff !important;
    a {
        color: #fff !important;
        &:hover,
        &:focus {
            color: #fff !important;
        }
    }
}

.bg-gradient-success {
    background-image: $gradient-green !important;
    color: #fff !important;
    a {
        color: #fff !important;
        &:hover,
        &:focus {
            color: #fff !important;
        }
    }
}

.bg-gradient-warning {
    background-image: $gradient-orange !important;
    color: #fff !important;
    a {
        color: #fff !important;
        &:hover,
        &:focus {
            color: #fff !important;
        }
    }
}

.bg-gradient-blue {
    background-image: $gradient-blue !important;
    color: #fff !important;
    a {
        color: #fff !important;
        &:hover,
        &:focus {
            color: #fff !important;
        }
    }
}

.bg-gradient-danger {
    background-image: $gradient-danger !important;
    color: #fff !important;
    a {
        color: #fff !important;
        &:hover,
        &:focus {
            color: #fff !important;
        }
    }
}