.card {
    border: 0;
    border-radius: 3px;
    box-shadow: none !important;
    margin-bottom: 20px;
    .card-bg-cover {
        max-height: 180px;
        overflow: hidden;
        img {
            min-width: 100%;
            min-height: 100%;
            background-size: cover;
        }
    }
    &.remove {
        opacity: 0;
        transition: opacity, 0.5s;
    }
    .alert {
        border-radius: 0;
    }
    &.card-bg-img {
        position: relative;
    }
    .card-bg-wrap {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        >img {
            position: absolute;
            top: 0;
            left: 0;
        }
        +.card-body {
            position: relative;
        }
    }
}

.card-media {
    box-shadow: 0 -50px 20px -10px rgba(0, 0, 0, 0.2);
    padding: 10px 15px 15px 140px;
    position: relative;
}

.card-media-img {
    position: absolute;
    width: 96px;
    height: 96px;
    left: 20px;
    top: -48px;
}

.card-media-heading {
    color: #fff;
    position: absolute;
    top: -2.7em;
}

.card {
    .card-heading,
    > :first-child {
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }
    .card-footer,
    > :last-child {
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }
}

.card-body-full {
    margin-left: -20px;
    margin-right: -20px;
}

.card-body {
    padding: 15px 20px 25px;
}

.card-trans {
    border-color: transparent;
    box-shadow: none;
    background-color: transparent;
}

.card-heading {
    position: relative;
    height: 42px;
    padding: 0;
    color: #4d627b;
    .btn {
        box-shadow: none !important;
    }
}

.card-title {
    font-weight: normal;
    padding: 0 20px 0 20px;
    font-size: 1.15em;
    line-height: 42px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-default {
    &.card-colorful {
        background-color: #e6eced;
        color: #7a878e;
    }
    .card-heading {
        background-color: #e6eced;
        border-color: #f5f7f8;
    }
}

.card-footer {
    background-color: #f9f9f9;
    color: #7a878e;
    border-color: rgba(0, 0, 0, 0.02);
    position: relative;
}

.card-primary {
    .card-heading,
    .card-footer {
        background-color: #25476a;
        border-color: #25476a;
        color: #fff;
    }
    &.card-colorful {
        background-color: #25476a;
        border-color: #25476a;
        color: #fff;
        box-shadow: 0 1px 1px #0b141e;
    }
}

.card-info {
    .card-heading,
    .card-footer {
        background-color: #03a9f4;
        border-color: #03a9f4;
        color: #fff;
    }
    &.card-colorful {
        background-color: #03a9f4;
        border-color: #03a9f4;
        color: #fff;
        box-shadow: 0 1px 1px #02638f;
    }
}

.card-success {
    .card-heading,
    .card-footer {
        background-color: #8bc34a;
        border-color: #8bc34a;
        color: #fff;
    }
    &.card-colorful {
        background-color: #8bc34a;
        border-color: #8bc34a;
        color: #fff;
        box-shadow: 0 1px 1px #577d2a;
    }
}

.card-warning {
    .card-heading,
    .card-footer {
        background-color: #ffb300;
        border-color: #ffb300;
        color: #fff;
    }
    &.card-colorful {
        background-color: #ffb300;
        border-color: #ffb300;
        color: #fff;
        box-shadow: 0 1px 1px #996b00;
    }
}

.card-danger {
    .card-heading,
    .card-footer {
        background-color: #f44336;
        border-color: #f44336;
        color: #fff;
    }
    &.card-colorful {
        background-color: #f44336;
        border-color: #f44336;
        color: #fff;
        box-shadow: 0 1px 1px #ba160a;
    }
}

.card-mint {
    .card-heading,
    .card-footer {
        background-color: #26a69a;
        border-color: #26a69a;
        color: #fff;
    }
    &.card-colorful {
        background-color: #26a69a;
        border-color: #26a69a;
        color: #fff;
        box-shadow: 0 1px 1px #13534d;
    }
}

.card-purple {
    .card-heading,
    .card-footer {
        background-color: #ab47bc;
        border-color: #ab47bc;
        color: #fff;
    }
    &.card-colorful {
        background-color: #ab47bc;
        border-color: #ab47bc;
        color: #fff;
        box-shadow: 0 1px 1px #682a73;
    }
}

.card-pink {
    .card-heading,
    .card-footer {
        background-color: #f06292;
        border-color: #f06292;
        color: #fff;
    }
    &.card-colorful {
        background-color: #f06292;
        border-color: #f06292;
        color: #fff;
        box-shadow: 0 1px 1px #d71556;
    }
}

.card-dark {
    .card-heading,
    .card-footer {
        background-color: #3a444e;
        border-color: #3a444e;
        color: #fff;
    }
    &.card-colorful {
        background-color: #3a444e;
        border-color: #3a444e;
        color: #fff;
        box-shadow: 0 1px 1px #0f1114;
    }
}

.card-colorful>.card-heading {
    border: 0;
}

.card-default>.card-heading:after,
.card-primary>.card-heading:after,
.card-info>.card-heading:after,
.card-success>.card-heading:after,
.card-warning>.card-heading:after,
.card-danger>.card-heading:after,
.card-purple>.card-heading:after,
.card-pink>.card-heading:after,
.card-dark>.card-heading:after {
    display: none;
}

.card-bordered-default,
.card-default.card-bordered {
    border: 1px solid #bdcccf;
}

.card-bordered-primary,
.card-primary.card-bordered {
    border: 1px solid #25476a;
}

.card-bordered-info,
.card-info.card-bordered {
    border: 1px solid #03a9f4;
}

.card-bordered-success,
.card-success.card-bordered {
    border: 1px solid #8bc34a;
}

.card-bordered-warning,
.card-warning.card-bordered {
    border: 1px solid #ffb300;
}

.card-bordered-danger,
.card-danger.card-bordered {
    border: 1px solid #f44336;
}

.card-bordered-mint,
.card-mint.card-bordered {
    border: 1px solid #26a69a;
}

.card-bordered-purple,
.card-purple.card-bordered {
    border: 1px solid #ab47bc;
}

.card-bordered-pink,
.card-pink.card-bordered {
    border: 1px solid #f06292;
}

.card-bordered-dark,
.card-dark.card-bordered {
    border: 1px solid #3a444e;
}

.card-group {
    .card {
        border-radius: 0;
        margin-bottom: 20px;
    }
    >div {
        padding-left: 0;
        padding-right: 0;
        &:first-child>.card {
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
        }
        &:last-child>.card {
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
        }
        +div>.card {
            margin-left: -1px;
        }
    }
}

.card-control {
    height: 100%;
    position: relative;
    float: right;
    padding: 0 15px 0 5px;
    &:before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        left: -1em;
        position: relative;
    }
    .btn {
        padding-left: 7px;
        padding-right: 7px;
    }
    .dropdown {
        display: inline-block;
    }
    > {
        i,
        .badge,
        label {
            vertical-align: middle;
        }
        .toggle-switch+label {
            vertical-align: baseline;
        }
        .form-control {
            display: inline-block;
            max-width: 98%;
            height: 32px;
            vertical-align: middle;
        }
        .input-group-wrap {
            display: inline-block;
            max-width: 200px;
            vertical-align: middle;
            >.input-group {
                .input-group-addon>*,
                .input-group-btn>*,
                .form-control {
                    height: 32px;
                }
                .btn {
                    padding: 6px 12px;
                }
            }
        }
    }
}

@media (min-width: 640px) {
    .card-control>.input-group-wrap {
        max-width: 300px;
    }
}

[data-card="minmax"] {
    &[aria-expanded="true"] i {
        transition: transform, 0.1s;
    }
    &[aria-expanded="false"] i {
        transition: transform, 0.1s;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

[data-card="fullscreen"]>.icon-min {
    display: none;
}

.card-fullscreen {
    overflow-y: hidden;
    .icon-min {
        display: inline-block;
    }
    .icon-max {
        display: none;
    }
}

.card {
    &.fullscreen {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
    }
    .card-control .nav-tabs>.active>a {
        background-color: transparent;
        box-shadow: inset 0 -2px 0 0 #1e3a57 !important;
        color: inherit;
    }
    &[class*="card-"] .card-control .nav-tabs>.active>a {
        box-shadow: inset 0 -2px 0 0 rgba(255, 255, 255, 0.7) !important;
    }
}

.card-control {
    .nav-tabs {
        display: inline-block;
        height: 40px;
        margin-top: 2px;
        vertical-align: bottom;
        border: 0;
        > {
            li {
                margin-top: 1px;
                margin-right: 5px;
                height: 100%;
                >a {
                    border-radius: 0;
                    margin-right: 0;
                    height: 100%;
                    line-height: 40px;
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;
                    padding: 0 15px;
                }
                &:not(.active) {
                    background-color: transparent;
                    opacity: 0.6;
                    a {
                        border-bottom: 0 !important;
                        color: inherit;
                        &:hover {
                            background-color: rgba(0, 0, 0, 0.15);
                            border-color: transparent;
                        }
                    }
                }
            }
            .active>a {
                z-index: 1;
            }
        }
    }
    .progress {
        min-width: 150px;
        margin: 0;
        display: inline-block;
        vertical-align: middle;
    }
    .switchery {
        margin-left: 15px;
        vertical-align: middle;
    }
    .pager {
        margin: 0;
        display: inline-block;
        vertical-align: middle;
        border-radius: 0;
    }
    .pagination {
        margin: 0;
        border-radius: 0;
        vertical-align: middle;
        > {
            li {
                > {
                    a,
                    span {
                        padding: 0 10px;
                        border: 3px 3px 0 0;
                        border-color: rgba(0, 0, 0, 0.09);
                        box-shadow: none;
                        height: 100%;
                        line-height: 30px;
                    }
                }
                &:not(.active):not(.disabled)>a:hover {
                    background-color: rgba(0, 0, 0, 0.05);
                    border-color: rgba(0, 0, 0, 0.09);
                }
            }
            .disabled>a {
                border-color: rgba(0, 0, 0, 0.09);
                &:hover,
                &:active {
                    border-color: rgba(0, 0, 0, 0.09);
                }
            }
            li:not(.active)>a {
                background-color: transparent;
                color: inherit;
            }
        }
    }
}

.pagination>li>a {
    background-color: transparent;
    color: inherit;
}

.card-control .pagination>li>a:hover,
.pagination>li>a:focus {
    box-shadow: none;
}

.card> {
    .card-body+ {
        .table,
        .table-responsive {
            border: 0;
        }
    }
    .table+.card-body,
    .table-responsive+.card-body {
        border: 0;
    }
}

.card-control {
    .btn,
    .dropdown-toggle.btn {
        border: 0;
    }
    .open>.btn {
        box-shadow: none !important;
    }
    .btn {
        &.active,
        &:active {
            box-shadow: none !important;
        }
    }
    .btn-default {
        background-color: transparent;
        color: inherit;
    }
}

.card-overlay-wrap {
    position: relative;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.75);
    text-align: center;
    z-index: 795;
    &:before {
        content: "";
        display: inline-block;
        height: 100%;
        width: 1px;
        vertical-align: middle;
        margin-left: -5px;
    }
}

.card-overlay-title {
    margin: 10px 0 5px;
}

.card-overlay-icon,
.card-overlay-content {
    display: inline-block;
    vertical-align: middle;
}

.card>.card-heading+.card-collapse>.card-body {
    border-top: 0;
}

.card-group {
    margin-bottom: 35px;
    &.accordion {
        .card {
            margin-bottom: 0;
        }
        .card-heading {
            border-radius: 0;
            height: auto;
            &:after {
                border: 0 !important;
            }
            padding: 0;
        }
        .card-title {
            padding: 0;
            line-height: 40px;
            a {
                display: block;
                color: inherit;
                text-transform: none;
                font-size: 14px;
                padding: 0 15px;
                &:hover,
                &:focus {
                    color: inherit;
                }
                &.collapsed>i {
                    transform: rotate(0);
                    transition: all 0.3s;
                }
                >i {
                    display: inline-block;
                    min-width: 2ex;
                    text-align: center;
                    transform-origin: center;
                    transform: rotate(90deg);
                    transition: all 0.3s;
                }
            }
        }
        .card {
            &:first-child {
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                .card-heading {
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;
                }
            }
            &:last-child {
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
                overflow: hidden;
            }
        }
    }
}

.card-group-trans .card {
    background-color: transparent !important;
    box-shadow: none;
}

.card-group-condensed {
    .card-title a {
        line-height: 35px;
    }
    .card-body {
        padding: 10px 20px 10px;
    }
}

.card-group-trans.card-group-condensed {
    .card-title a {
        padding: 0;
    }
    .card-body {
        padding: 10px 0 10px;
    }
}

[data-toggle="collapse"] .fa:before {
    content: "\f107";
}

[data-toggle="collapse"].collapsed .fa:before {
    content: "\f106";
}