// main: ../styles.scss
.morris-hover.morris-default-style {
    border-radius: 5px;
    padding: 10px 12px;
    background: #36404a;
    border: none;
    color: $white !important;
}

.chart-detail-list {
    li {
        margin: 0 10px;
        h5 {
            font-size: 15px;
        }
    }
}

.pieLabel {
    div {
        font-size: 14px !important;
    }
}

.jqstooltip {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.chart {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 110px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    canvas {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.chart.chart-widget-pie {
    margin-top: 5px;
    margin-bottom: 5px;
}

.percent {
    display: inline-block;
    line-height: 110px;
    z-index: 2;
    font-weight: 600;
    font-size: 18px;
    color: $lightdark7;
    &:after {
        content: "%";
        margin-left: 0.1em;
        font-size: 0.8em;
    }
}

/* Flot chart */

#flotTip {
    padding: 8px 12px;
    background-color: #36404a;
    z-index: 100;
    color: #ffffff;
    opacity: 0.9;
    font-size: 13px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.legend {
    tr {
        height: 20px;
    }
}

.legendLabel {
    padding-left: 10px !important;
    line-height: 10px;
    padding-right: 10px;
}

/* Chartist chart */

.ct-golden-section:before {
    float: none;
}

.ct-chart {
    max-height: 300px;
    .ct-label {
        fill: #a3afb7;
        color: #a3afb7;
        font-size: 12px;
        line-height: 1;
    }
}

.ct-chart.simple-pie-chart-chartist {
    .ct-label {
        color: $white;
        fill: $white;
        font-size: 16px;
    }
}

.ct-chart .ct-series.ct-series-a .ct-bar,
.ct-chart .ct-series.ct-series-a .ct-line,
.ct-chart .ct-series.ct-series-a .ct-point,
.ct-chart .ct-series.ct-series-a .ct-slice-donut {
    stroke: $primary;
}

.ct-chart .ct-series.ct-series-c .ct-bar,
.ct-chart .ct-series.ct-series-c .ct-line,
.ct-chart .ct-series.ct-series-c .ct-point,
.ct-chart .ct-series.ct-series-c .ct-slice-donut {
    stroke: $success;
}

.ct-chart .ct-series.ct-series-d .ct-bar,
.ct-chart .ct-series.ct-series-d .ct-line,
.ct-chart .ct-series.ct-series-d .ct-point,
.ct-chart .ct-series.ct-series-d .ct-slice-donut {
    stroke: $info;
}

.ct-chart .ct-series.ct-series-e .ct-bar,
.ct-chart .ct-series.ct-series-e .ct-line,
.ct-chart .ct-series.ct-series-e .ct-point,
.ct-chart .ct-series.ct-series-e .ct-slice-donut {
    stroke: $lightdark7;
}

.ct-chart .ct-series.ct-series-f .ct-bar,
.ct-chart .ct-series.ct-series-f .ct-line,
.ct-chart .ct-series.ct-series-f .ct-point,
.ct-chart .ct-series.ct-series-f .ct-slice-donut {
    stroke: $purple;
}

.ct-chart .ct-series.ct-series-g .ct-bar,
.ct-chart .ct-series.ct-series-g .ct-line,
.ct-chart .ct-series.ct-series-g .ct-point,
.ct-chart .ct-series.ct-series-g .ct-slice-donut {
    stroke: $warning;
}

.ct-series-a .ct-area,
.ct-series-a .ct-slice-pie {
    fill: $primary;
}

.ct-series-c .ct-area,
.ct-series-c .ct-slice-pie {
    fill: $success;
}

.ct-series-d .ct-area,
.ct-series-d .ct-slice-pie {
    fill: $info;
}

/* Sparkline chart */

.jqstooltip {
    background-color: $dark !important;
    padding: 5px 10px !important;
    border-radius: 3px;
    border-color: $dark !important;
}

.jqsfield {
    font-size: 12px !important;
    line-height: 18px !important;
}

/* Circliful charts */

.circliful-chart {
    margin: 0 auto;
}

.circle-text,
.circle-info,
.circle-text-half,
.circle-info-half {
    font-size: 12px;
    font-weight: 600;
}

.chart-legend {
    text-align: center;
    ul {
        display: inline-flex;
        margin-bottom: 0;
        li {
            list-style: none;
            padding-left: 10px;
            font-size: $font-10;
            span {
                display: inline-block;
                width: 10px;
                height: 10px;
                margin-right: 5px;
            }
        }
    }
}

.jqstooltip {
    background-color: #fff !important;
    border-radius: 3px !important;
    border: 0 !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3) !important;
    color: #4d627b !important;
    padding: 7px 15px !important;
    font-size: 13px !important;
    font-weight: 700 !important;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    transform: translate(-50%, -50%) !important;
}

.jqsfield {
    color: #7a878e !important;
    font-size: 11px !important;
    >* {
        border-radius: 50%;
        font-size: 30px;
        vertical-align: baseline;
        box-shadow: inset 0 0 0 50px, 0 0 1px rgba(0, 0, 0, 0.3);
        width: .5ex;
        height: .5ex;
        display: inline-block;
        overflow: hidden;
    }
}

.sparklines-bar>canvas {
    width: 100% !important;
}

.sparklines-full-content {
    margin-left: -10px;
    transform: translateX(5px) translateY(5px);
}

.pie-title-center {
    display: inline-block;
    position: relative;
    text-align: center;
}

.pie-value {
    display: block;
    color: inherit;
    position: absolute;
    font-size: 14px;
    height: 40px;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -20px;
    line-height: 40px;
}

.range-vertical {
    height: 135px;
}

.flot-full-content {
    min-height: 120px;
    margin: -28px;
    bottom: -8px;
}

.flot-tick-label.tickLabel {
    color: #7a878e;
}

.flotTip {
    background-color: #fff !important;
    border-radius: 3px !important;
    border: 0 !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3) !important;
    padding: 7px 15px !important;
    font-size: 13px !important;
    color: #4d627b;
}

.legend> {
    div {
        background-color: transparent !important;
    }
    table {
        color: inherit !important;
    }
}

.legendInline .legend {
    >div {
        background-color: transparent !important;
        color: inherit !important;
        top: auto !important;
        left: auto !important;
        z-index: 1;
    }
    table {
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
        z-index: 2;
    }
    float: right;
    position: relative;
    tr {
        display: inline-block !important;
        margin-left: 10px;
    }
}

.legendColorBox>div {
    border: 0 !important;
    padding: 3px 5px 4px 0 !important;
    >div {
        border-radius: 50%;
    }
}

.pieLabelBackground {
    border-radius: 3px;
}