// main: ../styles.scss
.checkbox {
    label {
        display: inline-block;
        padding-left: 5px;
        position: relative;
        font-weight: 500;
        font-size: 13px;
        &::before {
            -o-transition: 0.3s ease-in-out;
            -webkit-transition: 0.3s ease-in-out;
            background-color: $white;
            border-radius: 3px;
            border: 1px solid $muted;
            content: "";
            display: inline-block;
            height: 17px;
            left: 0;
            position: absolute;
            transition: 0.3s ease-in-out;
            width: 17px;
            outline: none !important;
        }
        &::after {
            color: $lightdark3;
            display: inline-block;
            font-size: 11px;
            height: 16px;
            left: 0;
            padding-left: 3px;
            padding-top: 1px;
            position: absolute;
            top: 0;
            width: 16px;
        }
    }
    input[type="checkbox"] {
        cursor: pointer;
        opacity: 0;
        z-index: 1;
        outline: none !important;
        &:disabled+label {
            opacity: 0.65;
        }
    }
    input[type="checkbox"]:focus+label {
        &::before {
            outline-offset: -2px;
            outline: none;
        }
    }
    input[type="checkbox"]:disabled+label {
        &::before {
            background-color: $light;
            cursor: not-allowed;
        }
    }
}

.checkbox.checkbox-circle {
    label {
        &::before {
            border-radius: 50%;
        }
    }
}

.checkbox.checkbox-inline {
    margin-top: 0;
}

.checkbox.checkbox-single {
    input {
        height: 18px;
        width: 18px;
        position: absolute;
    }
    label {
        height: 18px;
        width: 18px;
        &:before {
            margin-left: 0;
        }
        &:after {
            margin-left: 0;
        }
    }
}

.checkbox-custom {
    input[type="checkbox"]:checked+label {
        &::before {
            background-color: $primary;
            border-color: $primary;
        }
        &::after {
            color: $white;
        }
    }
}

.checkbox-primary {
    input[type="checkbox"]:checked+label {
        &::before {
            background-color: $primary;
            border-color: $primary;
        }
        &::after {
            color: $white;
        }
    }
}

.checkbox-danger {
    input[type="checkbox"]:checked+label {
        &::before {
            background-color: $danger;
            border-color: $danger;
        }
        &::after {
            color: $white;
        }
    }
}

.checkbox-info {
    input[type="checkbox"]:checked+label {
        &::before {
            background-color: $info;
            border-color: $info;
        }
        &::after {
            color: $white;
        }
    }
}

.checkbox-warning {
    input[type="checkbox"]:checked+label {
        &::before {
            background-color: $warning;
            border-color: $warning;
        }
        &::after {
            color: $white;
        }
    }
}

.checkbox-success {
    input[type="checkbox"]:checked+label {
        &::before {
            background-color: $success;
            border-color: $success;
        }
        &::after {
            color: $white;
        }
    }
}

.checkbox-purple {
    input[type="checkbox"]:checked+label {
        &::before {
            background-color: $purple;
            border-color: $purple;
        }
        &::after {
            color: $white;
        }
    }
}

.checkbox-inverse {
    input[type="checkbox"]:checked+label {
        &::before {
            background-color: $inverse;
            border-color: $inverse;
        }
        &::after {
            color: $white;
        }
    }
}

/* Radios */

.radio {
    //padding-left: 20px;
    label {
        display: inline-block;
        padding-left: 5px;
        position: relative;
        font-weight: 400;
        font-size: 12px;
        &::before {
            -o-transition: border 0.5s ease-in-out;
            -webkit-transition: border 0.5s ease-in-out;
            background-color: $white;
            border-radius: 50%;
            border: 1px solid $muted;
            content: "";
            display: inline-block;
            height: 17px;
            left: 0;
            margin-left: -20px;
            position: absolute;
            transition: border 0.5s ease-in-out;
            width: 17px;
            outline: none !important;
        }
        &::after {
            -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
            -ms-transform: scale(0, 0);
            -o-transform: scale(0, 0);
            -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
            -webkit-transform: scale(0, 0);
            -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
            background-color: $lightdark3;
            border-radius: 50%;
            content: " ";
            display: inline-block;
            height: 11px;
            left: 3px;
            margin-left: -20px;
            position: absolute;
            top: 3px;
            transform: scale(0, 0);
            transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
            width: 11px;
        }
    }
    input[type="radio"] {
        cursor: pointer;
        opacity: 0;
        z-index: 1;
        outline: none !important;
        &:disabled+label {
            opacity: 0.65;
        }
    }
    input[type="radio"]:focus+label {
        &::before {
            outline-offset: -2px;
            outline: thin dotted;
        }
    }
    input[type="radio"]:checked+label {
        &::after {
            -ms-transform: scale(1, 1);
            -o-transform: scale(1, 1);
            -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
        }
    }
    input[type="radio"]:disabled+label {
        &::before {
            cursor: not-allowed;
        }
    }
}

.radio.radio-inline {
    margin-top: 0;
}

.radio.radio-single {
    label {
        height: 17px;
    }
}

.radio-custom {
    input[type="radio"]+label {
        &::after {
            background-color: $primary;
        }
    }
    input[type="radio"]:checked+label {
        &::before {
            border-color: $primary;
        }
        &::after {
            background-color: $primary;
        }
    }
}

.radio-primary {
    input[type="radio"]+label {
        &::after {
            background-color: $primary;
        }
    }
    input[type="radio"]:checked+label {
        &::before {
            border-color: $primary;
        }
        &::after {
            background-color: $primary;
        }
    }
}

.radio-danger {
    input[type="radio"]+label {
        &::after {
            background-color: $danger;
        }
    }
    input[type="radio"]:checked+label {
        &::before {
            border-color: $danger;
        }
        &::after {
            background-color: $danger;
        }
    }
}

.radio-info {
    input[type="radio"]+label {
        &::after {
            background-color: $info;
        }
    }
    input[type="radio"]:checked+label {
        &::before {
            border-color: $info;
        }
        &::after {
            background-color: $info;
        }
    }
}

.radio-warning {
    input[type="radio"]+label {
        &::after {
            background-color: $warning;
        }
    }
    input[type="radio"]:checked+label {
        &::before {
            border-color: $warning;
        }
        &::after {
            background-color: $warning;
        }
    }
}

.radio-success {
    input[type="radio"]+label {
        &::after {
            background-color: $success;
        }
    }
    input[type="radio"]:checked+label {
        &::before {
            border-color: $success;
        }
        &::after {
            background-color: $success;
        }
    }
}

.radio-purple {
    input[type="radio"]+label {
        &::after {
            background-color: $purple;
        }
    }
    input[type="radio"]:checked+label {
        &::before {
            border-color: $purple;
        }
        &::after {
            background-color: $purple;
        }
    }
}

.custom-check,
.custom-radio {
    margin-right: 3px !important;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 18px;
    height: 18px;
    min-height: 18px !important;
    border: none;
    cursor: pointer;
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.54);
    position: relative;
    -moz-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -ms-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -o-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.custom-check+span,
.custom-radio+span {
    padding-left: 2px;
    padding-right: 20px;
}

.custom-check.active:after,
.custom-radio.active:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}

.custom-check:after,
.custom-radio:after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.26);
    width: 48px;
    height: 48px;
    top: -17px;
    left: -17px;
    pointer-events: none;
    -moz-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -ms-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -o-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
}

.custom-check.disabled,
.custom-radio.disabled {
    border-color: rgba(0, 0, 0, 0.26) !important;
    background-color: transparent !important;
}

.custom-check.disabled.checked,
.custom-radio.disabled.checked {
    border-color: rgba(0, 0, 0, 0.26) !important;
    background-color: rgba(0, 0, 0, 0.26) !important;
}

.custom-check.checked:before,
.custom-radio.checked:before {
    -webkit-transform: rotate(45deg) scale(1);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg) scale(1);
    -o-transform: rotate(45deg);
    transform: rotate(45deg) scale(1);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}

.custom-check:before {
    position: absolute;
    border: 2px solid white;
    border-top-color: transparent;
    border-left-color: transparent;
    width: 8px;
    height: 16px;
    content: "";
    text-align: center;
    line-height: 14px;
    font-weight: normal;
    font-size: 7px;
    left: 50%;
    margin-left: -4px;
    top: 50%;
    margin-top: -10px;
    -webkit-transform: rotate(45deg) scale(0);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg) scale(0);
    -o-transform: rotate(45deg);
    transform: rotate(45deg) scale(0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -moz-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -ms-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -o-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.custom-radio {
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: -ms-inline-flex;
    display: inline-flex;
    -webkit-align-content: center;
    -moz-align-content: center;
    -ms-align-content: center;
    align-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.custom-radio:before {
    content: "";
    width: 10px;
    height: 10px;
    text-align: center;
    line-height: 14px;
    font-weight: normal;
    border: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -moz-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -ms-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -o-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.custom-radio.checked {
    background-color: transparent;
}

.custom-radio.checked:before {
    content: "";
    background-color: rgba(0, 0, 0, 0.54);
}

.custom-switch {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 34px;
    height: 14px;
    cursor: pointer;
    border: none;
    background-color: #9e9e9e;
    position: relative;
    -moz-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -ms-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -o-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.custom-switch+span {
    padding-left: 8px;
}

.custom-switch:before {
    content: "";
    position: absolute;
    margin: 0px;
    left: 0px;
    top: 0px;
    outline: 0px none;
    height: 20px;
    width: 20px;
    background-color: #fafafa;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -moz-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -ms-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -o-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transform: translate(0, -3px);
    -ms-transform: translate(0, -3px);
    transform: translate(0, -3px);
}

.custom-switch.active:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}

.custom-switch:after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.26);
    width: 48px;
    height: 48px;
    margin-top: -50%;
    margin-left: -40%;
    pointer-events: none;
    -moz-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -ms-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -o-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
}

.custom-switch.checked:before {
    -webkit-transform: translate(72%, -3px);
    -ms-transform: translate(72%, -3px);
    transform: translate(72%, -3px);
}

.custom-switch.checked:after {
    margin-left: 0%;
}

.custom-switch.disabled,
.custom-switch.disabled.checked {
    background-color: rgba(0, 0, 0, 0.12);
}

.custom-switch.disabled:before,
.custom-switch.disabled.checked:before {
    background-color: #bdbdbd;
}

.switch.switch-primary.checked {
    background-color: rgba(26, 188, 156, 0.5);
}

.switch.switch-primary.checked:after {
    background-color: rgba(26, 188, 156, 0.26);
}

.switch.switch-primary.checked:before {
    background-color: #0a3967;
}

.switch.switch-primary.checked.hover {
    cursor: pointer;
}

.switch.switch-success.checked {
    background-color: rgba(46, 204, 113, 0.5);
}

.switch.switch-success.checked:after {
    background-color: rgba(46, 204, 113, 0.26);
}

.switch.switch-success.checked:before {
    background-color: #2ecc71;
}

.switch.switch-success.checked.hover {
    cursor: pointer;
}

.switch.switch-info.checked {
    background-color: rgba(52, 152, 219, 0.5);
}

.switch.switch-info.checked:after {
    background-color: rgba(52, 152, 219, 0.26);
}

.switch.switch-info.checked:before {
    background-color: #3498db;
}

.switch.switch-info.checked.hover {
    cursor: pointer;
}

.switch.switch-warning.checked {
    background-color: rgba(241, 196, 15, 0.5);
}

.switch.switch-warning.checked:after {
    background-color: rgba(241, 196, 15, 0.26);
}

.switch.switch-warning.checked:before {
    background-color: #f1c40f;
}

.switch.switch-warning.checked.hover {
    cursor: pointer;
}

.switch.switch-danger.checked {
    background-color: rgba(231, 76, 60, 0.5);
}

.switch.switch-danger.checked:after {
    background-color: rgba(231, 76, 60, 0.26);
}

.switch.switch-danger.checked:before {
    background-color: #e74c3c;
}

.switch.switch-danger.checked.hover {
    cursor: pointer;
}