.dropdown-header {
    font-weight: 700;
    font-size: 0.85em;
    color: #4d627b;
    padding: 12px 15px 5px !important;
    text-transform: uppercase;
}

.dropdown-toggle>.dropdown-caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin: 0 3px;
    border-style: solid;
    border-width: 6px 4px 0 4px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    vertical-align: middle;
    &.caret-up {
        border-width: 0 4px 6px 4px;
        border-bottom-color: initial;
        border-top-color: transparent;
    }
}

.dropdown-without-caret {
    .dropdown-toggle {
        &:after {
            border: none;
        }
    }
}

.dropdown-menu {
    font-size: 13px;
    border-radius: 3px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    margin: 5px 0 0;
    padding: 10px 0;
    border: 0;
    a {
        padding: 10px 25px;
        border-radius: 3px;
        color: #7a878e;
        &:first-child {
            padding-top: 10px;
        }
        &:last-child {
            padding-bottom: 10px;
        }
    }
    .dropdown-item {
        padding: 0.25rem 0.75rem !important;
    }
}

.dropdown-menu-right {
    left: auto;
    right: 0;
}

.dropdown-menu {
    &:not(.head-list)>li>a {
        padding: 7px 10px;
        &:hover {
            color: #003f6d;
        }
    }
    &.with-arrow {
        &:before,
        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            left: 0;
            top: 0;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
        }
        &:before {
            border-bottom: 7px solid rgba(0, 0, 0, 0.07);
            margin: -7px 0 0 15px;
        }
        &:after {
            border-bottom: 7px solid #fff;
            margin: -6px 0 0 15px;
        }
    }
}

.dropdown-menu-right.dropdown-menu.with-arrow {
    &:before {
        left: auto;
        right: 0;
        margin: -7px 25px 0 0;
    }
    &:after {
        left: auto;
        right: 0;
        margin: -6px 25px 0 0;
    }
}

.dropup .dropdown-menu {
    margin-bottom: 5px;
}

.dropdown-menu-sm {
    min-width: 220px;
}

.dropdown-menu-md {
    min-width: 270px;
}

.dropdown-menu-lg {
    min-width: 300px;
}

.dropdown.open>.dropdown-toggle,
.btn-group.open .dropdown-toggle {
    box-shadow: inset 0 3px 1px rgba(0, 0, 0, 0.3) !important;
}