.mail-list {
  list-style: none;
  padding: 0;
  >li {
    position: relative;
    padding: 12px;
    border-radius: 1px;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  .mail-list-unread a {
    font-weight: 700;
    color: #4d627b;
  }
}

.mail-nav-unread {
  font-weight: 700;
  color: #4d627b !important;
}

.mail-control {
  float: left;
  width: 40px;
}

.mail-star {
  position: absolute;
  top: 47px;
  margin-left: 1px;
}

.mail-from {
  float: left;
  width: 105px;
}

.mail-subject {
  margin: 2.3em 0 0 40px;
  .label {
    margin-right: 0.5em;
    vertical-align: middle;
    line-height: 2;
  }
}

.mail-list {
  .mail-from a,
  .mail-subject a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.mail-attach-icon {
  width: 35px;
  float: right;
  text-align: center;
  min-height: 1.5em;
}

.mail-time {
  float: right;
  color: #96a0a5;
  font-size: 85%;
  text-align: right;
}

.mail-toggle.navbar-toggle {
  display: block;
}

.mail-message {
  padding: 15px 0;
  border-width: 1px 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.07);
  strong,
  b {
    color: #4d627b;
  }
}

@media (min-width: 992px) {
  .mail-nav {
    width: 255px;
  }
  .mail-menu {
    display: block !important;
  }
  .mail-control,
  .mail-star {
    float: left;
    width: 50px;
  }
  .mail-from {
    width: 125px;
  }
  .mail-attach-icon {
    width: 35px;
    float: right;
    text-align: right;
    min-height: 1.5em;
  }
  .mail-time {
    width: 75px;
  }
  .mail-subject {
    overflow: hidden;
    margin: 0 20px 0 0;
  }
}

@media (min-width: 470px) {
  .mail-star {
    position: static;
    float: left;
    width: 35px;
  }
  .mail-from {
    width: 125px;
    margin-right: 20px;
  }
  .mail-subject {
    display: block;
  }
}

.mail-list {
  >li {
    &:nth-child(odd) {
      background-color: rgba(0, 0, 0, 0.01);
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
    &.highlight {
      background-color: #f2f0c2;
    }
  }
  a {
    color: #7a878e;
    &:focus {
      color: #7a878e;
    }
  }
}

.mail-star {
  i {
    font-size: 1.2em;
    line-height: 1.24;
  }
  >a {
    color: #d3d7da !important;
    &:focus {
      color: #d3d7da !important;
    }
  }
}

.mail-starred .mail-star>a {
  color: #ffa100 !important;
}

.mail-list .mail-star>a:hover {
  color: #ffbd4d !important;
}

.mail-attach-list {
  list-style: none;
  padding: 0;
  >li {
    display: inline-block;
    width: 190px;
    .mail-file-img,
    .mail-file-icon {
      height: 120px;
      overflow: hidden;
      text-align: center;
      background-color: #f8f9fa;
    }
    i {
      font-size: 75px;
      line-height: 120px;
      opacity: 0.4;
    }
    img {
      max-width: 210px;
      height: auto;
    }
  }
}

.mail-attach-label {
  min-width: 5em;
}

.mail-attach-file {
  overflow: hidden;
}

.mail-attach-btn {
  float: right;
}

@media (min-width: 1200px) {
   .mail-attach-label {
     float: left;
   }
 }

 .mail-message-reply {
   min-height: 150px;
   border: 1px solid rgba(0, 0, 0, 0.07);
   border-radius: 3px;
   padding: 10px 15px;
   cursor: pointer;
 }