// main: ../styles.scss
label {
    font-weight: 400;
    margin-bottom: 1px;
}

.form-control {
    box-shadow: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.8rem;
    padding: 0.5rem 0.75rem !important;
    &:focus {
        background: $white;
        border-color: darken($light, 30%);
        box-shadow: none;
    }
}

input:read-only {
    background-color: #f9f9f9 !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-sm {
    height: 30px;
}

.input-group-btn {
    .btn {
        padding: 7px 14px;
    }
}

.has-success {
    .form-control {
        border-color: $success;
        box-shadow: none !important;
    }
}

.has-warning {
    .form-control {
        border-color: $warning;
        box-shadow: none !important;
    }
}

.has-error {
    .form-control {
        border-color: $danger;
        box-shadow: none !important;
    }
}

.input-group-addon {
    border-radius: 2px;
}

.form-group-material {
    position: relative;
    input {
        height: 1.9rem;
    }
    textarea {
        resize: none;
    }
    select {
        width: 100%;
        font-size: 1rem;
        height: 1.6rem;
        padding: 0.125rem 0.125rem 0.0625rem;
        background: none;
        border: none;
        line-height: 1.6;
        box-shadow: none;
    }
    .control-label {
        position: absolute;
        top: 5px;
        pointer-events: none;
        z-index: 1;
        font-weight: normal;
        -webkit-transition: all 0.28s ease;
        transition: all 0.28s ease;
    }
    .bar {
        position: relative;
        border-bottom: 0.0625rem solid;
        display: block;
        &::before {
            content: "";
            height: 0.125rem;
            width: 0;
            left: 50%;
            bottom: -0.0625rem;
            position: absolute;
            background: #337ab7;
            -webkit-transition: left 0.28s ease, width 0.28s ease;
            transition: left 0.28s ease, width 0.28s ease;
            z-index: 2;
        }
    }
    input,
    textarea {
        display: block;
        background: none;
        padding: 0.125rem 0.125rem 0.0625rem;
        font-size: 1rem;
        border-width: 0;
        border-color: transparent;
        line-height: 1.9;
        width: 100%;
        color: transparent;
        -webkit-transition: all 0.28s ease;
        transition: all 0.28s ease;
        box-shadow: none;
    }
    input[type="file"] {
        line-height: 1;
        ~.bar {
            display: none;
        }
    }
    select~.control-label {
        font-size: 0.8rem;
        top: -1rem;
        left: 0;
    }
    input {
        &:focus~.control-label,
        &:valid~.control-label,
        &.form-file~.control-label,
        &.has-value~.control-label {
            font-size: 0.8rem;
            top: -1rem;
            left: 0;
        }
    }
    textarea {
        &:focus~.control-label,
        &:valid~.control-label,
        &.form-file~.control-label,
        &.has-value~.control-label {
            font-size: 0.8rem;
            color: gray;
            top: -1rem;
            left: 0;
        }
    }
    select:focus,
    input:focus,
    textarea:focus {
        outline: none;
    }
    select:focus~.control-label,
    input:focus~.control-label,
    textarea:focus~.control-label {
        color: #337ab7;
    }
    select:focus~.bar::before,
    input:focus~.bar::before,
    textarea:focus~.bar::before {
        width: 100%;
        left: 0;
    }
}

.button {
    position: relative;
    background: currentColor;
    border: 1px solid currentColor;
    font-size: 1.1rem;
    color: #4f93ce;
    margin: 3rem 0;
    padding: 0.75rem 3rem;
    cursor: pointer;
    -webkit-transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
    transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
    overflow: hidden;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    span {
        color: #fff;
        position: relative;
        z-index: 1;
    }
    &::before {
        content: "";
        position: absolute;
        background: #071017;
        border: 50vh solid #1d4567;
        width: 30vh;
        height: 30vh;
        border-radius: 50%;
        display: block;
        top: 50%;
        left: 50%;
        z-index: 0;
        opacity: 1;
        -webkit-transform: translate(-50%, -50%) scale(0);
        transform: translate(-50%, -50%) scale(0);
    }
    &:hover {
        color: #337ab7;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
    }
    &:active::before {
        -webkit-transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
        transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
        transition: transform 1.12s ease, opacity 0.28s ease 0.364s;
        transition: transform 1.12s ease, opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
    }
    &:focus {
        &::before {
            -webkit-transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
            transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
            transition: transform 1.12s ease, opacity 0.28s ease 0.364s;
            transition: transform 1.12s ease, opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
            -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
            opacity: 0;
        }
        outline: none;
    }
}

.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
    font-size: 18px;
    cursor: pointer;
    color: $white;
}

.col-form-label {
    text-align: right;
    font-weight: 400;
}

.bootstrap-tagsinput {
    box-shadow: none;
    padding: 3px 7px;
    border: 1px solid $light3;
    .label-info {
        background-color: $primary !important;
        display: inline-block;
        padding: 2px 10px;
        border-radius: 3px;
        font-size: 14px;
        margin: 2px;
    }
}

.ms-container {
    .ms-list {
        box-shadow: none;
        border: 1px solid $light3;
    }
    .ms-list.ms-focus {
        box-shadow: none;
        border: 1px solid #aaaaaa;
    }
    .ms-selectable {
        li.ms-elem-selectable {
            border: none;
            padding: 5px 10px;
        }
    }
    .ms-selection {
        li.ms-elem-selection {
            border: none;
            padding: 5px 10px;
        }
    }
}

.search-input {
    margin-bottom: 10px;
}

.ms-selectable {
    box-shadow: none;
    outline: none !important;
}

.ms-container {
    .ms-list.ms-focus {
        box-shadow: none;
    }
    .ms-selectable {
        li.ms-hover {
            background-color: $primary;
        }
    }
    .ms-selection {
        li.ms-hover {
            background-color: $primary;
        }
    }
}


/* Select 2*/

.select2-container .select2-selection--single {
    height: 36px;
    border: 1px solid #ced4da;
    .select2-selection__rendered {
        line-height: 34px;
    }
}

.select2-container {
    .select2-choice {
        background-image: none !important;
        border: none !important;
        height: auto !important;
        padding: 0 !important;
        line-height: 22px !important;
        background-color: transparent !important;
        box-shadow: none !important;
        .select2-arrow {
            background-image: none !important;
            background: transparent;
            border: none;
            width: 14px;
            top: -2px;
        }
    }
    .select2-container-multi.form-control {
        height: auto;
    }
}

.select2-results .select2-highlighted {
    color: $white;
    background-color: $primary;
}

.select2-drop-active {
    border: 1px solid $light3 !important;
    padding-top: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}

.select2-search {
    input {
        border: 1px solid $light3;
    }
}

.select2-container-multi {
    width: 100%;
    .select2-choices {
        border: 1px solid $light3 !important;
        box-shadow: none !important;
        background-image: none !important;
        border-radius: 4px !important;
        min-height: 38px;
        .select2-search-choice {
            padding: 4px 7px 4px 18px;
            margin: 5px 0 3px 5px;
            color: #555555;
            background: $light5;
            border-color: #e5e5e5;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        .select2-search-field {
            input {
                padding: 7px 7px 7px 10px;
                font-family: inherit;
            }
        }
    }
}


/* Datepicker */

.datepicker {
    thead {
        tr {
            th {
                font-weight: 500;
                background: $primary;
                color: $white;
                text-align: center;
                &:hover {
                    background: $primary !important;
                    opacity: 0.9;
                }
            }
            th.dow {
                background: $warning;
                color: $primary;
                &:hover {
                    background: inherit !important;
                }
            }
        }
    }
    th,
    td {
        .day {
            cursor: pointer;
        }
        font-size: 14px !important;
        border-radius: 0;
        padding: 8px;
        text-align: center;
    }
}

.datepicker-dropdown {
    padding: 0px !important;
}

.datepicker table tr td.today,
.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.selected,
.datepicker table tr td.selected:hover,
.datepicker table tr td.selected.disabled,
.datepicker table tr td.selected.disabled:hover,
.datepicker table tr td span.active,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled:hover {
    background-image: none;
}

.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active:hover.disabled,
.datepicker table tr td span.active.disabled.disabled,
.datepicker table tr td span.active.disabled:hover.disabled,
.datepicker table tr td span.active[disabled],
.datepicker table tr td span.active:hover[disabled],
.datepicker table tr td span.active.disabled[disabled],
.datepicker table tr td span.active.disabled:hover[disabled] {
    background-color: $primary;
}

.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover {
    background-color: $primary !important;
    background-image: none;
    box-shadow: none;
    color: $white;
    text-shadow: none;
}

.datepicker thead tr:first-child th:hover,
.datepicker tfoot tr th:hover {
    background-color: $light-alt;
}

.datepicker-inline {
    border: 2px solid $light;
}

.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover {
    background-color: $primary !important;
    background-image: none;
    box-shadow: none;
}


/* Date Range Picker */

.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: $primary;
    border-color: $primary;
}

.daterangepicker .input-mini.active {
    border: 1px solid #aaaaaa;
}

.daterangepicker .ranges li {
    border-radius: 2px;
    color: $lightdark7;
    font-weight: 600;
    font-size: 12px;
}

.daterangepicker select.hourselect,
.daterangepicker select.minuteselect,
.daterangepicker select.secondselect,
.daterangepicker select.ampmselect {
    border: 1px solid #e3e3e3;
    padding: 2px;
    width: 60px;
}

.daterangepicker .ranges li.active,
.daterangepicker .ranges li:hover {
    background-color: $primary;
    border: 1px solid $primary;
}

input {
    &[type="radio"].magic-radio,
    &[type="checkbox"].magic-checkbox {
        position: fixed;
        z-index: -50;
        top: -2000px;
    }
}

.magic-radio[disabled],
.magic-checkbox[disabled] {
    cursor: not-allowed;
}

.input-group-addon> {
    .magic-radio+label,
    .magic-checkbox+label {
        vertical-align: text-top;
    }
    .magic-radio+label:before,
    .magic-checkbox+label:before {
        left: 0;
    }
}

.magic-radio+label,
.magic-checkbox+label {
    cursor: pointer;
    display: inline-block;
    margin: 0;
    min-width: 1.34em;
    padding: 0;
    position: relative;
    vertical-align: middle;
}

.magic-radio+label:hover:before,
.magic-checkbox+label:hover:before {
    border-color: $primary;
    transition: all 0.3s;
}

.magic-radio+label:before,
.magic-checkbox+label:before {
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.07);
    content: "";
    display: block;
    height: 17px;
    left: 0;
    position: absolute;
    top: 0;
    width: 17px;
    transition: all 0.3s;
}

.magic-radio+label:after,
.magic-checkbox+label:after {
    content: "";
    display: none;
    position: absolute;
}

.magic-radio+label:not(:empty) {
    margin: 0 10px 0 0;
    text-indent: 25px;
}

.magic-checkbox+label {
    &:not(:empty) {
        margin: 0 10px 0 0;
        text-indent: 25px;
    }
    min-height: 17px;
    min-width: 17px;
}

.btn-group {
    .magic-radio+label,
    .magic-checkbox+label {
        min-height: 1em;
        vertical-align: baseline;
    }
}

.magic-radio[disabled]+label,
.magic-checkbox[disabled]+label {
    cursor: not-allowed;
    opacity: 0.5;
}

.magic-radio[disabled]+label {
    &:hover,
    &:before,
    &:after {
        cursor: not-allowed;
    }
}

.magic-checkbox[disabled]+label {
    &:hover,
    &:before,
    &:after {
        cursor: not-allowed;
    }
}

.magic-radio[disabled]+label:hover:before,
.magic-checkbox[disabled]+label:hover:before,
.magic-radio:checked+label:before,
.magic-checkbox:checked+label:before {
    animation-name: none;
}

.magic-radio:checked+label:after,
.magic-checkbox:checked+label:after {
    display: block;
}

.magic-radio:focus+label:before,
.magic-checkbox:focus+label:before {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.1s;
}

.magic-radio:checked:focus+label:before {
    box-shadow: 0 0 0 10px rgba(37, 71, 106, 0.17), inset 0 0 0 10px rgba(22, 119, 179, 0.17);
}

.magic-checkbox {
    &:checked:focus+label:before {
        box-shadow: 0 0 0 10px rgba(37, 71, 106, 0.17), inset 0 0 0 10px rgba(22, 119, 179, 0.17);
    }
    +label {
        &:before {
            border-radius: 2px;
        }
        &:after {
            border-color: #fff;
            border-style: solid;
            border-width: 0 2px 2px 0;
            box-sizing: border-box;
            height: 13px;
            left: 6px;
            top: 0;
            transform: rotate(48deg);
            width: 6px;
        }
    }
    &:focus+label:before {
        transition: all 0.3s;
    }
}

.magic-checkbox-primary {
    &:checked+label:before {
        background: $primary;
        border-color: $primary;
    }
}

.magic-checkbox-mint {
    &:checked+label:before {
        background: $mint;
        border-color: $mint;
    }
}

.magic-radio {
    +label {
        &:before {
            border-radius: 50%;
        }
        &:after {
            background: $primary;
            border-radius: 50%;
            height: 9px;
            left: 4px;
            top: 4px;
            width: 9px;
        }
    }
    &:checked+label:before {
        border: 2px solid $primary;
    }
}

.form-icon.btn {
    &.btn-primary:after,
    &.btn-info:after,
    &.btn-success:after,
    &.btn-warning:after,
    &.btn-danger:after,
    &.btn-mint:after,
    &.btn-purple:after,
    &.btn-pink:after,
    &.btn-dark:after {
        color: #fff;
    }
}

.toggle-switch.bg-primary {
    &:checked+label {
        &:before {
            background-color: $primary
        }
    }
}

.toggle-switch.bg-info {
    &:checked+label {
        &:before {
            background-color: $info
        }
    }
}

.toggle-switch.bg-danger {
    +label {
        &:before {
            background-color: $danger
        }
    }
}

.toggle-switch {
    display: none;
    +label {
        display: inline-block;
        position: relative;
        height: 16px;
        max-height: 1em;
        cursor: pointer;
        -webkit-touch-callout: none;
        margin-right: 0;
        margin-bottom: 0;
        padding-left: 40px;
        line-height: 16px;
        &:empty {
            padding-left: 30px;
        }
        &:before {
            position: absolute;
            display: inline-block;
            left: 0;
            content: "";
            border-style: solid;
            width: 34px;
            height: 18px;
            background-color: #afafaf;
            border-width: 0;
            border-color: transparent;
            box-shadow: 0;
            border-radius: 9px;
            transition: all 0.3s;
        }
        &:after {
            position: absolute;
            content: "";
            width: 16px;
            height: 16px;
            top: 1px;
            left: 1px;
            background-color: #fff;
            box-shadow: 0 2px 5px 0 fade(#333, 25%);
            border-radius: 16px;
            transition: left 0.3s, right 0.3s;
        }
    }
    &:checked+label {
        &:before {
            transition: all 0.3s;
        }
        &:after {
            left: 17px;
            transition: left 0.3s, right 0.3s;
        }
    }
    &:disabled+label {
        cursor: no-drop;
        &:before {
            opacity: 0.3;
        }
    }
}

.preload .toggle-switch+* {
    transition: 0 !important;
    &:before,
    &:after {
        transition: 0 !important;
    }
}

.form-group .toggle-switch+* {
    margin-top: 5px !important;
    &:before,
    &:after {
        margin-top: 5px !important;
    }
}

.select {
    position: relative;
    display: inline-block;
    &.form-group {
        display: block;
        select {
            width: 100%;
            height: 33px;
            display: block;
        }
    }
    &:before {
        content: "";
        border-style: solid;
        border-width: 6px 4px 0 4px;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-top-color: #96a0a5;
        display: inline-block;
        height: 0;
        margin: -3px 3px 0;
        vertical-align: middle;
        width: 0;
        position: absolute;
        right: 0.7em;
        top: 50%;
        z-index: 1;
    }
    select {
        padding: 6px 2.5em 6px 10px;
        border: 1px solid rgba(0, 0, 0, 0.07);
        border-radius: 3px;
        display: inline-block;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
        outline: none;
        background-color: #fff;
        color: inherit;
        font-size: 13px;
        line-height: 1.42857;
        vertical-align: middle;
        transition: border-color 0.5s;
        &:disabled {
            cursor: not-allowed;
            opacity: 0.65;
        }
        &:focus {
            border-color: $primary;
            transition: border-color 0.5s;
        }
        &:-moz-focusring {
            color: transparent;
            text-shadow: 0 0 0 #444;
        }
        &::-ms-expand {
            display: none;
        }
    }
    &.select-xs>select {
        min-width: 100px;
    }
    &.select-sm>select {
        min-width: 200px;
    }
    &.select-md>select {
        min-width: 300px;
    }
    &.select-lg>select {
        min-width: 400px;
    }
    &.select-xl>select {
        min-width: 100%;
    }
}

.list-todo {
    .form-checkbox input:checked~span,
    input:checked~label>span {
        text-decoration: line-through;
        opacity: 0.7;
    }
}

.bootstrap-select {
    margin-bottom: 15px;
}

.fullscreen {
    z-index: 999999 !important;
}

.panel-body> {
    .sparklines-full-content {
        margin-left: -45px;
        transform: translateX(22px) translateY(29px);
    }
    .sparklines-bar.sparklines-full-content {
        margin-left: -40px;
        transform: translateX(20px) translateY(26px);
    }
}

body {
    .chosen-container-multi .chosen-choices li.search-choice,
    .chosen-container .chosen-results li.highlighted {
        background-color: $primary;
        color: #fff;
    }
    .select2-container--default {
        .select2-results__option[aria-selected="true"]:hover,
        .select2-selection--multiple .select2-selection__choice,
        .select2-results__option--highlighted[aria-selected] {
            background-color: $primary;
            color: #fff;
        }
        .select2-selection--multiple .select2-selection__choice {
            border-color: $primary;
        }
    }
    .datepicker table thead {
        color: #4d627b;
    }
    .datepicker-switch {
        color: $primary;
    }
    .datepicker table tr td {
        span.active {
            &.active {
                background-color: $primary;
                border-color: $primary;
                color: #fff;
            }
            &.disabled {
                &.active,
                &:active,
                &.active:hover,
                &:hover:active {
                    background-color: $primary;
                    border-color: $primary;
                    color: #fff;
                }
            }
            &:active,
            &.active:hover,
            &:hover:active {
                background-color: $primary;
                border-color: $primary;
                color: #fff;
            }
        }
        &.active {
            &.active {
                background-color: $primary;
                border-color: $primary;
                color: #fff;
            }
            &.highlighted {
                &.active,
                &:active {
                    background-color: $primary;
                    border-color: $primary;
                    color: #fff;
                }
            }
            &:active {
                background-color: $primary;
                border-color: $primary;
                color: #fff;
            }
        }
        &.selected {
            background-color: $primary;
            border-color: $primary;
            color: #fff;
            &.highlighted {
                background-color: $primary;
                border-color: $primary;
                color: #fff;
            }
        }
        &.active.active:hover {
            background-color: #182e44;
        }
        &.range {
            background-color: #6093c8;
        }
    }
    .bootstrap-timepicker-widget table td a {
        color: #4d627b;
    }
    .noUi-connect,
    .noUi-handle {
        background: $primary;
    }
    .noUi-marker-large,
    .noUi-marker {
        background: rgba(255, 255, 255, 0.2);
    }
    .fixed-table-container tbody .selected td,
    #container .table.dataTable tbody tr.selected {
        background-color: $primary;
        color: #fff;
    }
    .fixed-table-container tbody .selected td {
        .text-muted,
        .btn-link {
            color: #fff;
        }
    }
    #container .table.dataTable tbody tr.selected {
        .text-muted,
        .btn-link {
            color: #fff;
        }
    }
    .jstree-default .jstree-clicked {
        background-color: $primary !important;
        color: #fff;
    }
    .dd-dragel {
        color: #4d627b;
        .dd-handle-btn:before {
            background-color: #fff;
            color: #fff;
        }
        .dd-content,
        >.dd-item .dd-handle {
            background-color: $primary;
            color: #fff;
            box-shadow: none;
        }
    }
    .dd-outline:hover,
    .dd-dashed:hover {
        border-color: $primary;
    }
    .full-content+.note-editor .note-editable.panel-body {
        border-width: 1px 0 0 0;
    }
    .note-toolbar.panel-heading {
        border: 0;
    }
    .note-editable.panel-body {
        border: 1px solid rgba(0, 0, 0, 0.07);
    }
}

@keyframes dd-update {
    1% {
        color: #fff;
        background-color: $primary;
    }
    100% {
        background-color: #fff;
    }
}

@keyframes dd-dragging {
    1% {
        background-color: #fff;
        box-shadow: none;
    }
    100% {
        background-color: $primary;
        color: #fff;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    }
}

.navbar-toggle .icon-bar {
    background-color: #aaa;
}

.canvas-responsive {
    max-width: 100%;
}

.form-control-trans {
    border: 0 !important;
    background-color: transparent !important;
}

.input-sm {
    font-size: 11px;
    height: 30px;
}

.input-lg {
    font-size: 17px;
    height: 46px;
}

.has-error .form-control,
.has-warning .form-control,
.has-success .form-control {
    box-shadow: none !important;
}

i.form-control-feedback {
    line-height: 25px;
}

.input-group-addon {
    font-size: 13px;
    border: 1px solid rgba(0, 0, 0, 0.07);
    background-color: #fff;
    color: #7a878e;
    border-radius: 3px;
    min-width: 45px;
}

.input-group .btn:not(.btn-lg):not(.btn-icon.btn-lg):not(.btn-sm):not(.btn-icon.btn-sm):not(.btn-xs):not(.btn-icon.btn-xs) {
    max-height: 33px;
}

.form-horizontal {
    .checkbox,
    .radio {
        min-height: 30px;
    }
}

.has-warning {
    .form-control {
        border-color: #ffca4d;
        &:focus {
            border-color: #cc8f00;
        }
    }
    .checkbox,
    .checkbox-inline,
    .control-label,
    .help-block,
    .radio,
    .radio-inline,
    &.checkbox label,
    &.checkbox-inline label,
    &.radio label,
    &.radio-inline label {
        color: #e6a100;
        font-weight: 700;
    }
}

.has-error {
    .form-control {
        border-color: #f8877f;
        &:focus {
            border-color: #ea1c0d;
        }
    }
    .checkbox,
    .checkbox-inline,
    .control-label,
    .help-block,
    .radio,
    .radio-inline,
    &.checkbox label,
    &.checkbox-inline label,
    &.radio label,
    &.radio-inline label {
        color: #f55a4e;
        font-weight: 700;
    }
}

.has-success {
    .form-control {
        border-color: #b0d683;
        &:focus {
            border-color: #71a436;
        }
    }
    .checkbox,
    .checkbox-inline,
    .control-label,
    .help-block,
    .radio,
    .radio-inline,
    &.checkbox label,
    &.checkbox-inline label,
    &.radio label,
    &.radio-inline label {
        color: #8bc34a;
        font-weight: 700;
    }
}

.nav-pills> {
    li>a {
        border-radius: 3px;
    }
    .active>a {
        background-color: $primary;
        &:hover,
        &:focus {
            background-color: $primary;
        }
    }
}

.nav-tabs>li>a {
    border-radius: 3px 3px 0 0;
}

@media (min-width: 768px) {
    .modal-dialog {
        min-width: 0;
    }
}

.form-horizontal .control-label {
    margin-bottom: 5px;
    &.text-left {
        text-align: left;
    }
}

.wz-nav-off>li a {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: default !important;
}

.wz-icon-inline li>a .icon-wrap {
    display: inline-block;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: inherit;
}

.wz-icon-bw li {
    >a {
        .icon-wrap,
        p {
            transition: all 0.5s;
        }
    }
    &.active~li>a .icon-wrap {
        color: #7a878e;
        background-color: rgba(0, 0, 0, 0.17);
        transition: all 0.5s;
    }
    &:not(.active)>a p {
        color: #7a878e !important;
        transition: all 0.5s;
    }
}

.wz-classic {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    position: relative;
    li {
        transition: all 0.5s;
        >a {
            color: inherit;
            display: block;
            text-align: center;
            padding: 20px 0;
            .icon-wrap {
                display: inline-block;
                line-height: 1;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                color: inherit;
            }
        }
    }
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    .active~li {
        color: inherit;
        background-color: inherit;
        a {
            opacity: 0.5;
        }
    }
}

.wz-heading {
    position: relative;
    .progress {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        background-color: transparent;
    }
    &.wz-w-label .progress {
        margin-top: -0.5em;
    }
}

.wz-steps {
    margin: 0;
    padding: 10px 0;
    list-style: none;
    display: block;
    position: relative;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    li {
        transition: all, 0.5s;
        >a {
            color: inherit;
            display: block;
            text-align: center;
            padding: 0;
            .icon-wrap {
                display: inline-block;
                line-height: 1;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
            }
        }
        .wz-desc {
            opacity: 0;
            transition: opacity 0.5s;
        }
        &:not(.active) .wz-icon {
            display: none;
        }
    }
    .active {
        ~li {
            color: inherit;
            a {
                opacity: 0.5;
            }
            .wz-icon {
                display: inline-block;
            }
        }
        .wz-icon-done,
        ~li .wz-icon-done {
            display: none;
        }
        .wz-desc {
            opacity: 1;
            transition: opacity 0.5s;
        }
    }
}