// main: ../styles.scss
h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

.vt {
    vertical-align: top !important;
}

.vb {
    vertical-align: bottom !important;
}

.vm {
    vertical-align: middle !important;
}

.font-bold {
    font-weight: 600;
}

.font-normal {
    font-weight: normal;
}

.font-light {
    font-weight: 300;
}

.font-9 {
    font-size: 9px;
}

.font-10 {
    font-size: $font-10 !important;
}

.font-11 {
    font-size: $font-11 !important;
}

.font-12 {
    font-size: $font-12 !important;
}

.font-13 {
    font-size: $font-13 !important;
}

.font-14 {
    font-size: $font-14 !important;
}

.font-16 {
    font-size: $font-16 !important;
}

.font-18 {
    font-size: $font-18 !important;
}

.font-20 {
    font-size: $font-20 !important;
}

.font-22 {
    font-size: 22px !important;
}

.font-25 {
    font-size: 25px !important;
}

.font-28 {
    font-size: 28px !important;
}

.font-35 {
    font-size: 35px;
}

.p-0 {
    padding: 0 !important;
}

.p-2 {
    padding: 2px !important;
}

.p-5 {
    padding: 5px !important;
}

.p-10 {
    padding: 10px !important;
}

.p-15 {
    padding: 15px !important;
}

.p-20 {
    padding: 20px;
}

.p-25 {
    padding: 25px !important;
}

.p-30 {
    padding: 30px !important;
}

.p-40 {
    padding: 40px !important;
}

.p-t-10 {
    padding-top: 10px !important;
}

.p-t-20 {
    padding-top: 20px !important;
}

.p-r-10 {
    padding-right: 10px !important;
}

.p-r-20 {
    padding-right: 20px !important;
}

.p-b-10 {
    padding-bottom: 10px !important;
}

.p-b-20 {
    padding-bottom: 20px !important;
}

.p-l-10 {
    padding-left: 10px !important;
}

.p-l-20 {
    padding-left: 20px !important;
}

.m-0 {
    margin: 0 !important;
}

.m-r-n-1 {
    margin-right: -1px !important;
}

.m-r-0 {
    margin-right: 0 !important;
}

.m-r-5 {
    margin-right: 5px !important;
}

.m-r-10 {
    margin-right: 10px !important;
}

.m-r-15 {
    margin-right: 15px !important;
}

.m-r-20 {
    margin-right: 20px !important;
}

.m-l-0 {
    margin-bottom: 0 !important;
}

.m-l-5 {
    margin-left: 5px !important;
}

.m-l-10 {
    margin-left: 10px !important;
}

.m-l-n-10 {
    margin-left: -10px !important;
}

.m-l-15 {
    margin-left: 15px !important;
}

.m-l-20 {
    margin-left: 20px !important;
}

.m-l-n-20 {
    margin-left: -20px !important;
}

.m-l-n-25 {
    margin-left: -25px !important;
}

.m-l-50 {
    margin-left: 50px !important;
}

.m-l-20 {
    margin-left: 20px !important;
}

.m-t-0 {
    margin-top: 0 !important;
}

.m-t-5 {
    margin-top: 5px !important;
}

.m-t-10 {
    margin-top: 10px !important;
}

.m-t-15 {
    margin-top: 15px !important;
}

.m-t-20 {
    margin-top: 20px !important;
}

.m-t-30 {
    margin-top: 30px !important;
}

.m-t-40 {
    margin-top: 40px !important;
}

.m-t-50 {
    margin-top: 50px !important;
}

.m-t-n-5 {
    margin-top: -5px !important;
}

.m-t-n-10 {
    margin-top: -10px !important;
}

.m-t-n-20 {
    margin-top: -20px !important;
}

.m-t-n-30 {
    margin-top: -30px !important;
}

.m-b-0 {
    margin-bottom: 0 !important;
}

.m-b-5 {
    margin-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px !important;
}

.m-b-15 {
    margin-bottom: 15px !important;
}

.m-b-20 {
    margin-bottom: 20px !important;
}

.m-b-25 {
    margin-bottom: 25px !important;
}

.m-b-30 {
    margin-bottom: 30px !important;
}

.m-b-40 {
    margin-bottom: 30px !important;
}

.w-xs {
    min-width: 80px !important;
}

.w-sm {
    min-width: 95px !important;
}

.w-md {
    min-width: 110px;
}

.w-lg {
    min-width: 140px;
}

.m-h-50 {
    min-height: 50px;
}

.l-h-34 {
    line-height: 34px !important;
}

.font-light {
    font-weight: 300;
}

.font-normal {
    font-weight: normal;
}

.font-bold {
    font-weight: bold;
}

.wrapper-md {
    padding: 20px;
}

.pull-in {
    margin-left: -20px;
    margin-right: -20px;
}

.b-0 {
    border: none !important;
}

.no-border {
    border: none;
}

.border-left {
    border-left: 1px solid $light3;
}

.border-left-none {
    border-left: none !important;
}

.border-bottom {
    border-bottom: 1px solid $light3;
}

.border-bottom-none {
    border-bottom: none !important;
}

.border-top {
    border-top: 1px solid $light3;
}

.border-top-none {
    border-top: none !important;
}

.border-right {
    border-right: 1px solid $light3;
}

.border-right-none {
    border-right: none !important;
}

.center-page {
    float: none !important;
    margin: 0 auto;
}

.bx-s-0 {
    box-shadow: none !important;
}

.bx-shadow {
    -moz-box-shadow: 0px 4px 20px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 4px 20px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 20px 0 rgba(0, 0, 0, 0.05);
}

.mx-box {
    max-height: 380px;
    min-height: 380px;
}

.thumb-sm {
    height: 32px;
    width: 32px;
}

.thumb-md {
    height: 48px;
    width: 48px;
}

.thumb-lg {
    height: 88px;
    width: 88px;
}

.bg-announcement {
    background: #f9fbab;
}

.bg-grey {
    background-color: $grey !important;
}

.bg-light {
    background-color: $light4 !important;
}

.bg-primary-navy {
    background-color: $blue-navy !important;
}

.bg-primary {
    background-color: $primary !important;
}

hr {
    color: $lightgray;
}

.text-primary {
    color: $primary !important;
}

.text-warning {
    color: $warning !important;
}

.text-grey {
    color: $lightdark7 !important;
}

.text-light {
    color: $light !important;
}

.absolute {
    position: absolute !important;
}

.border-white {
    border-color: $white;
}

.text-light {
    color: #fff;
}

a.text-light {
    &:hover,
    &:focus {
        color: #fff;
    }
}

.text-muted {
    color: #909ba1;
}

a.text-muted {
    &:hover,
    &:focus {
        color: #909ba1;
    }
}

.text-primary {
    color: #1c3550;
}

a.text-primary {
    &:hover,
    &:focus {
        color: #1c3550;
    }
}

.text-info {
    color: #0391d1;
}

a.text-info {
    &:hover,
    &:focus {
        color: #0391d1;
    }
}

.text-success {
    color: #79af3a;
}

a.text-success {
    &:hover,
    &:focus {
        color: #79af3a;
    }
}

.text-warning {
    color: #db9a00;
}

a.text-warning {
    &:hover,
    &:focus {
        color: #db9a00;
    }
}

.text-danger {
    color: #f22314;
}

a.text-danger {
    &:hover,
    &:focus {
        color: #f22314;
    }
}

.text-main {
    color: #4d627b;
}

a.text-main {
    &:hover,
    &:focus {
        color: #4d627b;
    }
}

.text-mint {
    color: #1f897f;
}

a.text-mint {
    &:hover,
    &:focus {
        color: #1f897f;
    }
}

.text-purple {
    color: #953ca4;
}

a.text-purple {
    &:hover,
    &:focus {
        color: #953ca4;
    }
}

.text-pink {
    color: #ed417b;
}

a.text-pink {
    &:hover,
    &:focus {
        color: #ed417b;
    }
}

.text-dark {
    color: #2b323a;
}

a.text-dark {
    &:hover,
    &:focus {
        color: #2b323a;
    }
}

.bg-trans {
    background-color: transparent;
}

.bg-light {
    background-color: #fff;
    color: #7a878e;
    a {
        color: #7a878e;
        &:hover,
        &:focus {
            color: #7a878e;
        }
    }
}

.bg-gray-light {
    background-color: #f8f9fa;
    color: #7a878e;
    a {
        color: #7a878e;
        &:hover,
        &:focus {
            color: #7a878e;
        }
    }
}

.bg-gray {
    background-color: #e9eeef;
    color: #7a878e;
    a {
        color: #7a878e;
        &:hover,
        &:focus {
            color: #7a878e;
        }
    }
}

.bg-gray-dark {
    background-color: #cbd7da;
    color: #7a878e;
    a {
        color: #7a878e;
        &:hover,
        &:focus {
            color: #7a878e;
        }
    }
}

.bg-trans-light {
    background-color: rgba(255, 255, 255, 0.1);
    color: inherit;
    a {
        color: inherit;
        &:hover,
        &:focus {
            color: inherit;
        }
    }
}

.bg-trans-dark {
    background-color: rgba(0, 0, 0, 0.1);
    color: inherit;
    a {
        color: inherit;
        &:hover,
        &:focus {
            color: inherit;
        }
    }
}

.bg-primary {
    background-color: $primary;
    color: #fff;
    a {
        color: #fff;
        &:hover,
        &:focus {
            color: #fff;
        }
    }
}

.bg-info {
    background-color: #03a9f4;
    color: #fff;
    a {
        color: #fff;
        &:hover,
        &:focus {
            color: #fff;
        }
    }
}

.bg-success {
    background-color: #8bc34a;
    color: #fff;
    a {
        color: #fff;
        &:hover,
        &:focus {
            color: #fff;
        }
    }
}

.bg-warning {
    background-color: $warning;
    color: #fff;
    a {
        color: #fff;
        &:hover,
        &:focus {
            color: #fff;
        }
    }
}

.bg-danger {
    background-color: $danger;
    color: #fff;
    a {
        color: #fff;
        &:hover,
        &:focus {
            color: #fff;
        }
    }
}

.bg-mint {
    background-color: $mint;
    color: #fff;
    a {
        color: #fff;
        &:hover,
        &:focus {
            color: #fff;
        }
    }
}

.bg-purple {
    background-color: #ab47bc;
    color: #fff;
    a {
        color: #fff;
        &:hover,
        &:focus {
            color: #fff;
        }
    }
}

.bg-pink {
    background-color: #f06292;
    color: #fff;
    a {
        color: #fff;
        &:hover,
        &:focus {
            color: #fff;
        }
    }
}

.bg-dark {
    background-color: #3a444e;
    color: #fff;
    a {
        color: #fff;
        &:hover,
        &:focus {
            color: #fff;
        }
    }
}

.v-middle {
    vertical-align: middle;
}

.v-top {
    vertical-align: top;
}

.v-bottom {
    vertical-align: bottom;
}

.v-baseline {
    vertical-align: baseline;
}

.favorite-color {
    color: #f2d300;
}

.unfavorite-color {
    color: #bcc4c9;
}

.toolbar-left,
.toolbar-right,
.table-toolbar-left,
.table-toolbar-right {
    text-align: center;
    padding-bottom: 15px;
}

.toolbar-right>.form-group,
.table-toolbar-right>.form-group {
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

@media (min-width: 760px) {
    .toolbar-left,
    .table-toolbar-left {
        float: left;
        text-align: left;
    }
    .toolbar-right,
    .table-toolbar-right {
        text-align: right;
    }
}

.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}

.pos-fix {
    position: fixed;
}

.pos-sta {
    position: static;
}

.list-divider {
    margin: 15px 0;
    height: 1px;
}

.list-header {
    font-weight: 300;
    padding: 10px 15px;
    position: relative;
}

.list-item-sm {
    padding: 5px 15px;
}

.list-item-lg {
    padding: 15px;
}

.list-item-xl {
    padding: 20px 15px;
}

.box-block {
    display: block;
}

.box-inline {
    display: inline-block;
}

.box-vmiddle {
    display: inline-block;
    max-width: 500px;
    vertical-align: middle;
    margin-bottom: 15px;
}

.box-vmiddle-wrap:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-left: -15px;
}

.box-full {
    margin: -15px -15px 0;
}

.panel-body .box-full {
    margin: -15px -20px 0;
}

.bord-no {
    border: 0 !important;
}

.bord-all {
    border: 1px solid rgba(0, 0, 0, 0.07);
}

.bord-top {
    border-top: 1px solid rgba(0, 0, 0, 0.07);
}

.bord-btm {
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.bord-lft {
    border-left: 1px solid rgba(0, 0, 0, 0.07);
}

.bord-rgt {
    border-right: 1px solid rgba(0, 0, 0, 0.07);
}

.bord-ver {
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.bord-hor {
    border-right: 1px solid rgba(0, 0, 0, 0.07);
    border-left: 1px solid rgba(0, 0, 0, 0.07);
}

.text-thin {
    font-weight: 300;
}

.text-normal {
    font-weight: normal;
}

.text-semibold {
    font-weight: 600;
}

.text-bold {
    font-weight: 700;
}

.text-5x,
.text-4x,
.text-5x,
.text-2x,
.text-lg,
.text-sm,
.text-xs {
    line-height: 1.25;
    font-size: 4em;
}

.text-4x {
    font-size: 4em;
}

.text-3x {
    font-size: 3em;
}

.text-2x {
    font-size: 2em;
}

.text-lg {
    font-size: 1.2em;
}

.text-sm {
    font-size: 0.9em;
}

.text-xs {
    font-size: 0.8em;
}

.text-overflow {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-unit {
    font-size: 15px;
    vertical-align: top;
    line-height: 1.5em;
}

.unselectable {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     ::selection,
     ::-moz-selection {
        background-color: transparent;
        color: inherit;
    }
}

.text-justify {
    text-align: justify;
    &:after {
        content: "";
        display: inline-block;
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .text-lg-right {
        text-align: right;
    }
    .text-lg-center {
        text-align: center;
    }
    .text-lg-left {
        text-align: left;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .text-md-right {
        text-align: right;
    }
    .text-md-center {
        text-align: center;
    }
    .text-md-left {
        text-align: left;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .text-sm-right {
        text-align: right;
    }
    .text-sm-center {
        text-align: center;
    }
    .text-sm-left {
        text-align: left;
    }
}

@media (max-width: 760px) {
    .text-xs-right {
        text-align: right;
    }
    .text-xs-center {
        text-align: center;
    }
    .text-xs-left {
        text-align: left;
    }
}

.icon-wrap {
    display: inline-block;
    padding: 10px;
    border-radius: 2px;
    i {
        display: block;
        line-height: 1em;
        text-align: center;
        position: relative;
        width: 1em;
        padding-top: 1em;
        &:before {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
    .icon-txt {
        display: block;
        line-height: 1em;
        text-align: center;
        position: relative;
        width: 1em;
    }
}

.icon-wrap-lg {
    padding: 20px;
}

.icon-wrap-md {
    padding: 17px;
}

.icon-wrap-sm {
    padding: 12px;
}

.icon-wrap-xs {
    padding: 7px;
}

.icon-circle {
    border-radius: 50%;
}

.icon-lg {
    font-size: 1.333em;
    line-height: 1.095em;
    vertical-align: middle;
}

.icon-fw {
    width: 1.33em;
    margin-right: 4px;
    text-align: center;
}

.icon-2x {
    font-size: 2em;
    line-height: 1em;
}

.icon-3x {
    font-size: 3em;
    line-height: 1em;
}

.icon-4x {
    font-size: 4em;
    line-height: 1em;
}

.icon-5x {
    font-size: 5em;
    line-height: 1em;
}

.img-mar {
    margin: 5px;
}

.img-border {
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
}

.img-border-light {
    box-shadow: 0 0 0 4px #fff;
}

.img-xs {
    width: 32px;
    height: 32px;
}

.img-md {
    width: 64px;
    height: 64px;
}

.img-sm {
    width: 48px;
    height: 48px;
}

.img-lg {
    width: 96px;
    height: 96px;
}

.img-holder img {
    max-width: 100%;
    border-radius: 3px;
}

.img-gallery {
    margin-left: -4px;
    margin-right: -4px;
    [class^="col-"],
    [class*=" col-"] {
        padding-left: 4px;
        padding-right: 4px;
        margin-bottom: 8px;
    }
    img {
        border-radius: 4px;
    }
}

.mar-no {
    margin: 0 !important;
}

.mar-all {
    margin: 15px;
}

.mar-top {
    margin-top: 15px;
}

.mar-btm {
    margin-bottom: 15px;
}

.mar-lft {
    margin-left: 15px;
}

.mar-rgt {
    margin-right: 15px;
}

.mar-hor {
    margin-left: 15px;
    margin-right: 15px;
}

.mar-ver {
    margin-top: 15px;
    margin-bottom: 15px;
}

.pad-no {
    padding: 0 !important;
}

.pad-all {
    padding: 15px;
}

.pad-top {
    padding-top: 15px;
}

.pad-btm {
    padding-bottom: 15px;
}

.pad-lft {
    padding-left: 15px;
}

.pad-rgt {
    padding-right: 15px;
}

.pad-hor {
    padding-left: 15px;
    padding-right: 15px;
}

.pad-ver {
    padding-top: 15px;
    padding-bottom: 15px;
}

a.disabled-link {
    color: #aaa !important;
    cursor: default;
    &:visited,
    &:active,
    &:hover {
        color: #aaa !important;
        cursor: default;
    }
}

.zindex-1000 {
    z-index: 1000;
}