.modal {
    text-align: center;
    z-index: 10000;
}

.modal-dialog {
    vertical-align: middle;
    text-align: left;
    &.animated {
        -webkit-animation-duration: 0.7s;
        animation-duration: 0.7s;
    }
    .modal-header {
        padding: 15px;
        position: relative;
        border: 0;
    }
    .modal-footer {
        background-color: #f9f9f9;
        border-color: rgba(0, 0, 0, 0.07);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
    .modal-title {
        font-size: 1.2em;
    }
    .modal-body {
        padding: 2rem;
    }
}

.modal-content {
    box-shadow: none;
    border-radius: 3px;
    border: 0;
}

.modal-backdrop {
    &.in {
        opacity: 0.75;
    }
    z-index: 9999;
}

.modal-open>#container.boxed-layout.navbar-fixed>#navbar {
    top: 0;
    bottom: 0;
    background-color: transparent;
    overflow-y: scroll;
}

@media (min-width: 1200px) {
    .modal-open>#container.boxed-layout.navbar-fixed>#navbar:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 45px;
        background: #8c979b;
    }
}