#navbar {
    position: absolute;
    width: 100%;
    background-color: #ecf0f5;
    left: 0;
    top: 0;
    z-index: 1001;
}

.navbar-header {
    display: none;
}

.navbar-brand {
    background: url(../images/logo-k.png) center center no-repeat;
    width: 55px;
    background-size: 20px;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 2000;
    overflow: hidden;
    border-right: 1px solid #dfe1e4;
}

.navbar-top-links {
    >li {
        >a {
            &:focus:not(.mainnav-toggle)>i,
            &:hover:not(.mainnav-toggle)>i {
                color: #7a878e;
                transition: color 0.4s;
            }
            display: table-cell;
            padding: 0 8px;
            vertical-align: middle;
            height: 55px;
            color: #7a878e;
            transition: all 0.4s;
            &:not(.mainnav-toggle)>i {
                color: #7a878e;
                transition: color 0.4s;
            }
            &:focus {
                background-color: transparent;
            }
            &:hover {
                color: #d9d9d9;
                transition: all 0.4s;
            }
            >i {
                font-size: 16px;
                line-height: 1em;
                vertical-align: middle;
            }
        }
        float: left;
    }
    display: inline-block;
    .dropdown.open>.dropdown-toggle {
        box-shadow: none !important;
    }
    >.open>a {
        background-color: $light !important;
        color: #d9d9d9;
        box-shadow: none !important;
        &:focus {
            background-color: $light !important;
            color: #d9d9d9;
            box-shadow: none !important;
        }
    }
    .dropdown-menu {
        margin: 0;
        .nano {
            max-height: 265px;
        }
    }
}

.navbar-content {
    .custom-search-form {
        display: table-cell;
        vertical-align: middle;
        height: 55px;
        padding: 0 10px;
        .btn {
            font-size: 1.4em;
            padding: 0;
        }
    }
    .search-container {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9999;
        transition-duration: 0s !important;
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: transparent;
            z-index: -1;
            transition: background-color 0.25s;
        }
        &.in {
            &:before {
                background-color: rgba(0, 0, 0, 0.5);
                transition: background-color 0.25s;
            }
            input {
                opacity: 1;
                transition: all 0.25s;
            }
        }
        input {
            color: #505c70;
            padding: 0 10px;
            border: 0;
            border-radius: 0;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            opacity: 0;
            &:focus {
                border-bottom: 1px solid !important #505c70;
            }
        }
    }
}

@media (max-width: 760px) {
    .navbar-top-links {
        >li {
            position: static !important;
        }
        .dropdown-menu {
            width: auto;
            left: 10px;
            right: 10px;
        }
    }
}

@media (min-width: 768px) {
    #navbar-container {
        background-color: transparent;
    }
    .navbar-content {
        position: relative;
        .custom-search-form {
            padding-left: 0;
            width: 300px;
            padding: 0 10px;
            input {
                background: transparent;
                opacity: 1;
                padding: 0;
                box-shadow: none;
                &::placeholder,
                &::-webkit-input-placeholder,
                &::-ms-input-placeholder,
                &:-ms-input-placeholder {
                    color: rgba(255, 255, 255, 0.4) !important;
                }
            }
            .btn {
                display: none;
            }
        }
        .search-container {
            display: block !important;
            background-color: transparent;
            position: static;
            box-shadow: none;
            height: auto !important;
            &:before {
                display: none;
            }
        }
    }
    .navbar-top-links {
        &:first-child {
            float: left;
        }
        &:last-child {
            float: right;
        }
        >li>a {
            padding: 0 12px;
        }
    }
}