.pager li:not(.disable)>a:active,
.pagination>li:not(.disabled):not(.active) a:active {
    box-shadow: inset 0 3px 2px rgba(0, 0, 0, 0.3) !important;
    background-color: #25476a !important;
    color: #fff !important;
}

.pager li:not(.disable)>a {
    &:hover,
    &:focus {
        background-color: #fff;
        border-color: #25476a;
        color: #25476a;
        box-shadow: inset 0 0 1px #25476a, 0 3px 15px rgba(0, 0, 0, 0.25);
        z-index: 2;
        transition: all, 0.3s;
    }
}

.pagination>li:not(.disabled):not(.active) a {
    &:hover,
    &:focus {
        background-color: #fff;
        border-color: #25476a;
        color: #25476a;
        box-shadow: inset 0 0 1px #25476a, 0 3px 15px rgba(0, 0, 0, 0.25);
        z-index: 2;
        transition: all, 0.3s;
    }
}

.pager {
    li {
        > {
            a,
            span {
                border-radius: 3px;
                border-color: rgba(0, 0, 0, 0.07);
                color: #7a878e;
            }
        }
        &:not(.disable)>a {
            transition: all 0.3s;
        }
    }
    &.pager-rounded li> {
        a,
        span {
            border-radius: 15px;
        }
    }
    .disabled> {
        a,
        span {
            background-color: transparent !important;
            border-color: rgba(0, 0, 0, 0.07) !important;
            box-shadow: none !important;
            color: #3f464a !important;
        }
    }
    .next {
        >a,
        >span {
            float: right;
            margin-right: 30px;
        }
    }
    .previous {
        >a,
        >span {
            float: left;
        }
    }
}

.pagination {
    > {
        li {
            color: #7a878e;
            > {
                a {
                    color: inherit;
                    border-color: rgba(0, 0, 0, 0.07);
                    transition: border-color, 0.3s;
                    padding: 5px 10px;
                }
                span {
                    color: inherit;
                    border-color: rgba(0, 0, 0, 0.07);
                    transition: border-color, 0.3s;
                    cursor: default;
                    &:hover {
                        background-color: #fff;
                    }
                }
            }
            &:first-child {
                >a,
                span {
                    border-top-left-radius: 3px;
                    border-bottom-left-radius: 3px;
                }
            }
            &:last-child {
                >a,
                span {
                    border-top-right-radius: 3px;
                    border-bottom-right-radius: 3px;
                }
            }
        }
        .active> {
            a,
            span,
            a:hover,
            span:hover,
            a:focus,
            span:focus {
                color: #fff;
                background-color: #25476a;
                border-color: #25476a;
            }
        }
    }
    .disabled> {
        a,
        span {
            box-shadow: none !important;
            color: #dbdee0 !important;
            background-color: transparent !important;
        }
    }
}