.progress {
	height: 12px;
	margin-bottom: 15px;
	border-radius: 3px;
	box-shadow: none;
	background-color: rgba(0, 0, 0, 0.1);
}

.progress-bar {
	font-size: 10px;
	line-height: 1.05em;
	background-color: #25476a;
	box-shadow: none;
}

.progress-light-base {
	background-color: #fff;
}

.progress-dark-base {
	background-color: rgba(255, 255, 255, 0.2);
}

.progress-xl {
	height: 30px;
	margin-bottom: 20px;
	.progress-bar {
		font-size: 13px;
		line-height: 30px;
	}
}

.progress-lg {
	height: 20px;
	margin-bottom: 20px;
	.progress-bar {
		font-size: 13px;
		line-height: 20px;
	}
}

.progress-md {
	height: 8px;
	margin-bottom: 5px;
	.progress-bar {
		font-size: 5px;
		line-height: 8px;
	}
}

.progress-sm {
	height: 4px;
	margin-bottom: 5px;
	.progress-bar {
		font-size: 0;
		line-height: 4px;
	}
}

.progress-xs {
	height: 2px;
	margin-bottom: 10px;
	.progress-bar {
		font-size: 0;
		line-height: 2px;
	}
}

.progress-bar-light {
	background-color: #fff;
}

.progress-bar-primary {
	background-color: #25476a;
}

.progress-bar-info {
	background-color: #03a9f4;
}

.progress-bar-success {
	background-color: #8bc34a;
}

.progress-bar-warning {
	background-color: #ffb300;
}

.progress-bar-danger {
	background-color: #f44336;
}

.progress-bar-mint {
	background-color: #26a69a;
}

.progress-bar-purple {
	background-color: #ab47bc;
}

.progress-bar-pink {
	background-color: #f06292;
}

.progress-bar-dark {
	background-color: #3a444e;
}
