.nav-tabs {
    li a {
        color: #7a878e;
        border-radius: 3px 3px 0 0;
    }
    >li.active>a {
        color: #4d627b;
        border-color: transparent;
        border-bottom-color: transparent;
        &:hover,
        &:focus {
            color: #4d627b;
            border-color: transparent;
            border-bottom-color: transparent;
        }
    }
    &.tab-right {
        text-align: right;
        >li {
            display: inline-block;
            text-align: left;
            float: none;
            >a {
                margin-right: 0;
            }
        }
    }
    .label,
    .badge {
        margin-left: 4px;
    }
}

.tabs-bordered {
    border-bottom: 1px solid rgba($muted, 0.2) !important;
    .nav-item {
        margin-bottom: -2px;
    }
    li {
        a {
            border: 0 !important;
            padding: 10px 25px !important;
            &:hover,
            &:focus {
                border: 0 !important;
                padding: 10px 25px !important;
            }
            &.active {
                color: $primary !important;
                background-color: transparent !important;
                font-weight: 600;
                border-bottom: 2px solid $primary !important;
            }
        }
    }
}