// main: ../styles.scss
.table {
    margin-bottom: 10px;
}

.table {
    th {
        font-size: 1em;
        font-weight: 600;
        background: #f3f3f3;
        border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    }
    td {
        border-top: 1px solid rgba(0, 0, 0, 0.07);
    }
    &.table-vcenter {
        th,
        td {
            vertical-align: middle;
        }
    }
    .min-width {
        width: 1%;
        white-space: nowrap;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}

.table-trans {
    tr,
    td,
    th {
        background-color: transparent !important;
        border-color: transparent !important;
    }
}

.table-bordered {
    border-color: rgba(0, 0, 0, 0.07);
    td,
    th {
        border-color: rgba(0, 0, 0, 0.07);
    }
}

.table-striped>tbody>tr:nth-child(2n+1),
.table-hover>tbody>tr:hover {
    background-color: rgba(0, 0, 0, 0.015);
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    border-top: 1px solid $light3;
}

.table>thead>tr>td.middle-align,
.table>tbody>tr>td.middle-align {
    vertical-align: middle;
}

.table>thead>tr>th {
    border-bottom: 2px solid $light3;
    font-weight: 500;
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.table>tbody>tr.success>td,
.table>tbody>tr.success>th,
.table>tbody>tr>td.success,
.table>tbody>tr>th.success,
.table>tfoot>tr.success>td,
.table>tfoot>tr.success>th,
.table>tfoot>tr>td.success,
.table>tfoot>tr>th.success,
.table>thead>tr.success>td,
.table>thead>tr.success>th,
.table>thead>tr>td.success,
.table>thead>tr>th.success {
    background-color: fade($success, 15%);
}

.table>tbody>tr.info>td,
.table>tbody>tr.info>th,
.table>tbody>tr>td.info,
.table>tbody>tr>th.info,
.table>tfoot>tr.info>td,
.table>tfoot>tr.info>th,
.table>tfoot>tr>td.info,
.table>tfoot>tr>th.info,
.table>thead>tr.info>td,
.table>thead>tr.info>th,
.table>thead>tr>td.info,
.table>thead>tr>th.info {
    background-color: fade($info, 15%);
}

.table>tbody>tr.warning>td,
.table>tbody>tr.warning>th,
.table>tbody>tr>td.warning,
.table>tbody>tr>th.warning,
.table>tfoot>tr.warning>td,
.table>tfoot>tr.warning>th,
.table>tfoot>tr>td.warning,
.table>tfoot>tr>th.warning,
.table>thead>tr.warning>td,
.table>thead>tr.warning>th,
.table>thead>tr>td.warning,
.table>thead>tr>th.warning {
    background-color: fade($warning, 15%);
}

.table>tbody>tr.danger>td,
.table>tbody>tr.danger>th,
.table>tbody>tr>td.danger,
.table>tbody>tr>th.danger,
.table>tfoot>tr.danger>td,
.table>tfoot>tr.danger>th,
.table>tfoot>tr>td.danger,
.table>tfoot>tr>th.danger,
.table>thead>tr.danger>td,
.table>thead>tr.danger>th,
.table>thead>tr>td.danger,
.table>thead>tr>th.danger {
    background-color: fade($danger, 15%);
}


/* Datatable */

div.dataTables_paginate {
    ul.pagination {
        margin-top: 30px;
    }
}

div.dataTables_info {
    padding-top: 38px;
}

.dt-buttons {
    float: left;
}

div#datatable-buttons_info {
    float: left;
}

.table-wrapper {
    .btn-toolbar {
        display: block;
    }
    .dropdown-menu {
        left: auto;
        right: 0;
    }
}

.tablesaw-columntoggle-btnwrap .btn-group {
    display: block;
}


/* Responsive Table (Plugin) */

.table-rep-plugin .sticky-table-header.fixed-solution {
    top: 120px !important;
}

.table-rep-plugin {
    .dropdown-menu li.checkbox-row {
        padding: 2px 15px !important;
    }
    .table-responsive {
        border: none !important;
    }
    tbody {
        th {
            font-size: 14px;
            font-weight: normal;
        }
    }
    .checkbox-row {
        padding-left: 40px;
        label {
            display: inline-block;
            padding-left: 5px;
            position: relative;
            &::before {
                -o-transition: 0.3s ease-in-out;
                -webkit-transition: 0.3s ease-in-out;
                background-color: $white;
                border-radius: 3px;
                border: 1px solid $muted;
                content: "";
                display: inline-block;
                height: 17px;
                left: 0;
                margin-left: -20px;
                position: absolute;
                transition: 0.3s ease-in-out;
                width: 17px;
                outline: none !important;
            }
            &::after {
                color: $light3;
                display: inline-block;
                font-size: 11px;
                height: 16px;
                left: 0;
                margin-left: -20px;
                padding-left: 3px;
                padding-top: 1px;
                position: absolute;
                top: -1px;
                width: 16px;
            }
        }
        input[type="checkbox"] {
            cursor: pointer;
            opacity: 0;
            z-index: 1;
            outline: none !important;
            &:disabled+label {
                opacity: 0.65;
            }
        }
        input[type="checkbox"]:focus+label {
            &::before {
                outline-offset: -2px;
                outline: none;
            }
        }
        input[type="checkbox"]:checked+label {
            &::after {
                content: "\f00c";
                font-family: 'FontAwesome';
            }
        }
        input[type="checkbox"]:disabled+label {
            &::before {
                background-color: $light;
                cursor: not-allowed;
            }
        }
        input[type="checkbox"]:checked+label {
            &::before {
                background-color: $white;
                border-color: $primary;
            }
            &::after {
                color: $primary;
            }
        }
    }
    table.focus-on tbody tr.focused th,
    table.focus-on tbody tr.focused td,
    .sticky-table-header {
        background-color: $primary;
        color: $white;
        border-color: $primary;
    }
    .sticky-table-header.fixed-solution {
        top: 70px !important;
    }
    .btn-default {
        background-color: $white;
        border: 1px solid rgba($dark, 0.3);
    }
    .btn-default.btn-primary {
        background-color: $primary;
    }
    .btn-toolbar {
        display: block;
    }
    .btn-group.pull-right {
        float: right;
        .dropdown-menu {
            left: auto;
            right: 0;
        }
    }
}


/* Data table editable */

.add-edit-table {
    td,
    th {
        vertical-align: middle !important;
    }
    td {
        border: 0 !important;
    }
}

#datatable-editable .actions a {
    padding: 5px;
}

#datatable-editable .form-control {
    background-color: $white;
    width: auto;
    height: 20px;
}

#datatable-editable .fa-trash-o {
    color: $danger;
}

#datatable-editable .fa-times {
    color: $danger;
}

#datatable-editable .fa-pencil {
    color: $primary;
}

#datatable-editable .fa-save {
    color: $success;
}

#datatable td {
    font-weight: normal;
}

.modal-block {
    background: transparent;
    margin: 40px auto;
    max-width: 600px;
    padding: 0;
    position: relative;
    text-align: left;
}

// DataTables Overrides
table .img-avatar {
    width: 32px;
    height: 32px;
}

table.dataTable a {
    color: inherit;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_desc_disabled {
    background: $light3;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50, 50, 50, .5);
}

.dataTables_filter input {
    padding: 5px;
    border: 1px solid $border;
}

table.dataTable.display tbody tr.odd>.sorting_1,
table.dataTable.order-column.stripe tbody tr.odd>.sorting_1,
table.dataTable.display tbody tr:hover>.sorting_1,
table.dataTable.order-column.hover tbody tr:hover>.sorting_1,
table.dataTable.display tbody tr.even>.sorting_1,
table.dataTable.order-column.stripe tbody tr.even>.sorting_1 {
    background: none;
}

table.dataTable {
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 30px;
    margin-top: 20px;
    border: 1px solid #f1f2f7;
    thead {
        th,
        td {
            padding: 10px;
            border-bottom: 1px solid $extralight;
            font-size: $font-12;
        }
        th:active,
        td:active {
            outline: none;
        }
    }
    tfoot {
        th,
        td {
            padding: 10px 18px 6px 18px;
            border-top: 1px solid #111;
        }
    }
    tbody {
        tr {
            background-color: #ffffff;
            &.selected {
                background-color: #B0BED9;
            }
        }
        th,
        td {
            vertical-align: middle;
            padding: 10px !important;
        }
    }
    &.row-border tbody {
        th,
        td {
            border-top: 1px solid #ddd;
        }
    }
    &.display tbody {
        th,
        td {
            border-top: 1px solid #ddd;
        }
    }
    &.row-border tbody tr:first-child {
        th,
        td {
            border-top: none;
        }
    }
    &.display tbody tr:first-child {
        th,
        td {
            border-top: none;
        }
    }
    &.cell-border tbody {
        th,
        td {
            border-top: 1px solid #ddd;
            border-right: 1px solid #ddd;
        }
        tr {
            th:first-child,
            td:first-child {
                border-left: 1px solid #ddd;
            }
            &:first-child {
                th,
                td {
                    border-top: none;
                }
            }
        }
    }
    &.stripe tbody tr.odd,
    &.display tbody tr.odd {
        background-color: #f4f8fb;
    }
    &.stripe tbody tr.odd.selected,
    &.display tbody tr.odd.selected {
        background-color: #acbad4;
    }
    &.hover tbody tr:hover,
    &.display tbody tr:hover {
        background-color: #f6f6f6;
    }
    &.hover tbody tr:hover.selected,
    &.display tbody tr:hover.selected {
        background-color: #aab7d1;
    }
    &.order-column tbody tr> {
        .sorting_1,
        .sorting_2,
        .sorting_3 {
            background-color: #fafafa;
        }
    }
    &.display tbody tr> {
        .sorting_1,
        .sorting_2,
        .sorting_3 {
            background-color: #fafafa;
        }
    }
    &.order-column tbody tr.selected> {
        .sorting_1,
        .sorting_2,
        .sorting_3 {
            background-color: #acbad5;
        }
    }
    &.display tbody tr {
        &.selected> {
            .sorting_1,
            .sorting_2,
            .sorting_3 {
                background-color: #acbad5;
            }
        }
        &.odd>.sorting_1 {
            background-color: #f1f1f1;
        }
    }
    &.order-column.stripe tbody tr.odd>.sorting_1 {
        background-color: #f1f1f1;
    }
    &.display tbody tr.odd>.sorting_2,
    &.order-column.stripe tbody tr.odd>.sorting_2 {
        background-color: #f3f3f3;
    }
    &.display tbody tr.odd>.sorting_3,
    &.order-column.stripe tbody tr.odd>.sorting_3 {
        background-color: whitesmoke;
    }
    &.display tbody tr.odd.selected>.sorting_1,
    &.order-column.stripe tbody tr.odd.selected>.sorting_1 {
        background-color: #a6b4cd;
    }
    &.display tbody tr.odd.selected>.sorting_2,
    &.order-column.stripe tbody tr.odd.selected>.sorting_2 {
        background-color: #a8b5cf;
    }
    &.display tbody tr.odd.selected>.sorting_3,
    &.order-column.stripe tbody tr.odd.selected>.sorting_3 {
        background-color: #a9b7d1;
    }
    &.display tbody tr.even>.sorting_1,
    &.order-column.stripe tbody tr.even>.sorting_1 {
        background-color: #fafafa;
    }
    &.display tbody tr.even>.sorting_2,
    &.order-column.stripe tbody tr.even>.sorting_2 {
        background-color: #fcfcfc;
    }
    &.display tbody tr.even>.sorting_3,
    &.order-column.stripe tbody tr.even>.sorting_3 {
        background-color: #fefefe;
    }
    &.display tbody tr.even.selected>.sorting_1,
    &.order-column.stripe tbody tr.even.selected>.sorting_1 {
        background-color: #acbad5;
    }
    &.display tbody tr.even.selected>.sorting_2,
    &.order-column.stripe tbody tr.even.selected>.sorting_2 {
        background-color: #aebcd6;
    }
    &.display tbody tr.even.selected>.sorting_3,
    &.order-column.stripe tbody tr.even.selected>.sorting_3 {
        background-color: #afbdd8;
    }
    &.display tbody tr:hover>.sorting_1,
    &.order-column.hover tbody tr:hover>.sorting_1 {
        background-color: #eaeaea;
    }
    &.display tbody tr:hover>.sorting_2,
    &.order-column.hover tbody tr:hover>.sorting_2 {
        background-color: #ececec;
    }
    &.display tbody tr:hover>.sorting_3,
    &.order-column.hover tbody tr:hover>.sorting_3 {
        background-color: #efefef;
    }
    &.display tbody tr:hover.selected>.sorting_1,
    &.order-column.hover tbody tr:hover.selected>.sorting_1 {
        background-color: #a2aec7;
    }
    &.display tbody tr:hover.selected>.sorting_2,
    &.order-column.hover tbody tr:hover.selected>.sorting_2 {
        background-color: #a3b0c9;
    }
    &.display tbody tr:hover.selected>.sorting_3,
    &.order-column.hover tbody tr:hover.selected>.sorting_3 {
        background-color: #a5b2cb;
    }
    &.nowrap {
        th,
        td {
            white-space: nowrap;
        }
    }
    &.compact {
        thead {
            th,
            td {
                padding: 4px 17px 4px 4px;
            }
        }
        tfoot {
            th,
            td {
                padding: 4px;
            }
        }
        tbody {
            th,
            td {
                padding: 4px;
            }
        }
    }
    th.dt-left,
    td.dt-left {
        text-align: left;
    }
    th.dt-center {
        text-align: center;
    }
    td {
        &.dt-center,
        &.dataTables_empty {
            text-align: center;
        }
    }
    th.dt-right,
    td.dt-right {
        text-align: right;
    }
    th.dt-justify,
    td.dt-justify {
        text-align: justify;
    }
    th.dt-nowrap,
    td.dt-nowrap {
        white-space: nowrap;
    }
    thead {
        th.dt-head-left,
        td.dt-head-left {
            text-align: left;
        }
    }
    tfoot {
        th.dt-head-left,
        td.dt-head-left {
            text-align: left;
        }
    }
    thead {
        th.dt-head-center,
        td.dt-head-center {
            text-align: center;
        }
    }
    tfoot {
        th.dt-head-center,
        td.dt-head-center {
            text-align: center;
        }
    }
    thead {
        th.dt-head-right,
        td.dt-head-right {
            text-align: right;
        }
    }
    tfoot {
        th.dt-head-right,
        td.dt-head-right {
            text-align: right;
        }
    }
    thead {
        th.dt-head-justify,
        td.dt-head-justify {
            text-align: justify;
        }
    }
    tfoot {
        th.dt-head-justify,
        td.dt-head-justify {
            text-align: justify;
        }
    }
    thead {
        th.dt-head-nowrap,
        td.dt-head-nowrap {
            white-space: nowrap;
        }
    }
    tfoot {
        th.dt-head-nowrap,
        td.dt-head-nowrap {
            white-space: nowrap;
        }
    }
    tbody {
        th.dt-body-left,
        td.dt-body-left {
            text-align: left;
        }
        th.dt-body-center,
        td.dt-body-center {
            text-align: center;
        }
        th.dt-body-right,
        td.dt-body-right {
            text-align: right;
        }
        th.dt-body-justify,
        td.dt-body-justify {
            text-align: justify;
        }
        th.dt-body-nowrap,
        td.dt-body-nowrap {
            white-space: nowrap;
        }
    }
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    th,
    td {
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
    }
}

.dataTables_wrapper {
    position: relative;
    clear: both;
    zoom: 1;
    padding-top: 1px;
    .dataTables_length {
        float: left;
        margin-bottom: 20px;
    }
    .dataTables_filter {
        float: right;
        text-align: right;
        margin-bottom: 20px;
        input {
            margin-left: 0.5em;
        }
    }
    .dataTables_info {
        clear: both;
        float: left;
        padding-top: 0.755em;
    }
    .dataTables_paginate {
        float: right;
        text-align: right;
        padding-top: 0.25em;
        .paginate_button {
            box-sizing: border-box;
            display: inline-block;
            min-width: 1.5em;
            padding: 0.5em 1em;
            margin-left: 2px;
            text-align: center;
            text-decoration: none !important;
            cursor: pointer;
            *cursor: hand;
            color: #333 !important;
            border: 1px solid transparent;
            border-radius: 2px;
            &.current {
                color: #fff !important;
                border: 1px solid $purple;
                background-color: $purple;
                &:hover {
                    color: #fff !important;
                    border: 1px solid $blue;
                    background-color: $blue;
                }
            }
            &.disabled {
                cursor: default;
                color: #666 !important;
                border: 1px solid transparent;
                background: transparent;
                box-shadow: none;
                &:hover,
                &:active {
                    cursor: default;
                    color: #666 !important;
                    border: 1px solid transparent;
                    background: transparent;
                    box-shadow: none;
                }
            }
            &:hover {
                color: white !important;
                border: 1px solid $blue;
                background-color: $blue;
            }
            &:active {
                outline: none;
                background-color: #2b2b2b;
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));
                background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
                background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
                background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
                background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
                background: linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);
                box-shadow: inset 0 0 3px #111;
            }
        }
        .ellipsis {
            padding: 0 1em;
        }
    }
    .dataTables_processing {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 40px;
        margin-left: -50%;
        margin-top: -25px;
        padding-top: 20px;
        text-align: center;
        font-size: 1.2em;
        background-color: white;
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)), color-stop(75%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
        background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
        background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
        background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    }
    .dataTables_length,
    .dataTables_filter,
    .dataTables_info,
    .dataTables_processing,
    .dataTables_paginate {
        color: #333;
    }
    .dataTables_scroll {
        clear: both;
        div.dataTables_scrollBody {
            *margin-top: -1px;
            -webkit-overflow-scrolling: touch;
            th,
            td {
                vertical-align: middle;
            }
            th>div.dataTables_sizing,
            td>div.dataTables_sizing {
                height: 0;
                overflow: hidden;
                margin: 0 !important;
                padding: 0 !important;
            }
        }
    }
    &.no-footer {
        .dataTables_scrollBody {
            border-bottom: 1px solid #111;
        }
        div {
            &.dataTables_scrollHead table,
            &.dataTables_scrollBody table {
                border-bottom: none;
            }
        }
    }
    &:after {
        visibility: hidden;
        display: block;
        content: "";
        clear: both;
        height: 0;
    }
}

@media screen and (max-width: 767px) {
    .dataTables_wrapper {
        .dataTables_info {
            float: none;
            text-align: center;
        }
        .dataTables_paginate {
            float: none;
            text-align: center;
            margin-top: 0.5em;
        }
    }
}

@media screen and (max-width: 640px) {
    .dataTables_wrapper {
        .dataTables_length {
            float: none;
            text-align: center;
        }
        .dataTables_filter {
            float: none;
            text-align: center;
            margin-top: 0.5em;
        }
    }
}

button.dt-button,
div.dt-button,
a.dt-button {
    background: $info;
    color: $white;
    border-color: $info;
    &:hover {
        background: $info;
    }
}

button.dt-button:hover:not(.disabled),
div.dt-button:hover:not(.disabled),
a.dt-button:hover:not(.disabled) {
    background: $extralight;
    color: $dark;
    border-color: $border;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.01);
}