.timeline {
	position: relative;
	padding-bottom: 40px;
	background-color: #ecf0f5;
	color: #7a878e;
	&:before,
	&:after {
		background-color: #bfc5c9;
		bottom: 20px;
		content: "";
		display: block;
		position: absolute;
	}
	&:before {
		left: 49px;
		top: 20px;
		width: 1px;
	}
	&:after {
		left: 46px;
		width: 7px;
		height: 7px;
		border-radius: 50%;
		border: 1px solid #bfc5c9;
		background-color: #ecf0f5;
	}
}

.timeline-header {
	border-radius: 3px;
	clear: both;
	margin-bottom: 50px;
	margin-top: 50px;
	position: relative;
	.timeline-header-title {
		display: inline-block;
		text-align: center;
		padding: 7px 15px;
		min-width: 100px;
	}
}

.timeline .timeline-header:first-child {
	margin-bottom: 30px;
	margin-top: 15px;
}

.timeline-stat {
	width: 100px;
	float: left;
	text-align: center;
	padding-bottom: 15px;
}

.timeline-entry {
	margin-bottom: 25px;
	margin-top: 5px;
	position: relative;
	clear: both;
}

.timeline-entry-inner {
	position: relative;
}

.timeline-time {
	display: inline-block;
	padding: 2px 3px;
	background-color: #ecf0f5;
	color: #7a878e;
	font-size: 0.85em;
	max-width: 70px;
}

.timeline-icon {
	border-radius: 50%;
	display: block;
	margin: 0 auto;
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 40px;
	margin-top: 5px;
	background-color: #ecf0f5;
	> i {
		line-height: 40px;
		vertical-align: 0.1em;
	}
	img {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		vertical-align: top;
	}
	&:empty {
		height: 12px;
		width: 12px;
		margin-top: 20px;
		border: 2px solid #a3acb1;
	}
}

.timeline-label {
	background-color: #fff;
	border-radius: 3px;
	margin-left: 85px;
	padding: 15px;
	position: relative;
	min-height: 50px;
	&:after {
		content: "";
		display: block;
		position: absolute;
		width: 0;
		height: 0;
		left: 0;
		top: 0;
		border-top: 9px solid transparent;
		border-bottom: 9px solid transparent;
		border-right: 9px solid #fff;
		margin: 15px 0 0 -9px;
	}
}
