// main: ../styles.scss

/* Tooltips */

.tooltip {
    z-index: 999999;
}

.tooltip-inner {
    font-size: 13px;
    border-radius: 3px;
    padding: 5px 10px;
    background-color: #3a444e;
}

.tooltip {
    &.top .tooltip-arrow,
    &.top-left .tooltip-arrow,
    &.top-right .tooltip-arrow {
        border-top-color: #3a444e;
    }
    &.right .tooltip-arrow {
        border-right-color: #3a444e;
    }
    &.left .tooltip-arrow {
        border-left-color: #3a444e;
    }
    &.bottom .tooltip-arrow,
    &.bottom-left .tooltip-arrow,
    &.bottom-right .tooltip-arrow {
        border-bottom-color: #3a444e;
    }
    &.in {
        opacity: 1;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        color: inherit;
    }
}

.tooltip-inner {
    border-radius: 1px;
    padding: 5px 9px;
    font-size: $font-11;
}


/* Popover */

.popover {
    font-family: inherit;
    font-size: 13px;
    border-radius: 3px;
    border: 1px solid #e9edf3;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.popover-title {
    background-color: transparent;
    color: #4d627b;
    font-size: 1.2em;
    font-weight: 600;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
    border-radius: 3px 3px 0 0;
}

.popover {
    >.arrow {
        border-width: 9px;
        &:after {
            border-width: 9px;
        }
    }
    &.left>.arrow {
        border-left-color: rgba(0, 0, 0, 0.07);
        right: -9px;
        margin-top: -9px;
        &:after {
            bottom: -9px;
        }
    }
    &.right>.arrow {
        border-right-color: rgba(0, 0, 0, 0.07);
        left: -9px;
        margin-top: -9px;
        &:after {
            bottom: -9px;
        }
    }
    &.top>.arrow {
        border-top-color: rgba(0, 0, 0, 0.07);
        bottom: -9px;
        &:after {
            margin-left: -9px;
        }
    }
    &.bottom>.arrow {
        border-bottom-color: rgba(0, 0, 0, 0.07);
        top: -9px;
        &:after {
            margin-left: -9px;
        }
    }
}

.popover-content {
    padding: 10px 15px 20px;
}