.widget-header {
  padding: 15px 15px 50px 15px;
  min-height: 125px;
  position: relative;
  overflow: hidden;
}

.widget-control {
  position: absolute;
  padding: 10px;
  top: 0;
  right: 0;
}

.widget-bg {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.widget-title {
  position: relative;
}

.widget-body {
  padding: 50px 15px 15px;
  position: relative;
}

.widget-img {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 50%;
  margin-left: -32px;
  top: -32px;
}