.flag {
    background: url(/images/flags.png) no-repeat;
    width: 23px;
    height: 17px;
    float: left;
    margin: 4px 6px 0 0;
}

.en {
    background-position: 0 -527px
}

.id {
    background-position: 0 -630px
}
.chart-legend ul{
    padding: 0;
    margin-top: 20px;
}
#footer {
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    background-color: #f6f8fa;
    color: #7a878e;
    padding: 10px;
}

body {
    font-size: 13px;
}

a {
    color: #083e5f;
}

a:hover {
    cursor: pointer;
}

ul{
    margin: 0;
}

.breadcrumb {
    background-color: transparent !important;
    font-size: 12px;
    padding: .1rem 0rem !important;
}

.breadcrumb li a {
    color: #6c757d !important;
}

.nav-link {
    color: #6c757d;
}

.nav-link.active {
    color: #0762b3;
}

.icon-lg {
    font-size: 17px;
}

.btn-outline {
    padding: 5px;
}

.sidebar-menu>li>a {
    font-size: 14px;
}

.col-form-label {
    text-align: right
}

body.is-collapsed .sidebar-link .ti-angle-down {
    display: none;
}

.sidebar-menu>li>a .icon-holder {
    margin-right: 5px !important;
}

.dropdown-toggle:after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .25rem;
    vertical-align: middle;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-left: .3em solid transparent;
}

.select2-container {
    margin-bottom: 5px !important;
    width: 100% !important;
}


/*
P.S: if you like my content maybe you will become a donator and donate some money? That helps me to create new awesome materials. https://www.paypal.me/melnik909
*/

.timeline {
    --uiTimelineMainColor: var(--timelineMainColor, #222);
    --uiTimelineSecondaryColor: var(--timelineSecondaryColor, #fff);
    position: relative;
    padding-bottom: 3rem;
}

.timeline:before {
    content: "";
    width: 2px;
    height: 100%;
    background-color: var(--uiTimelineMainColor);
    position: absolute;
    top: 0;
}

.timeline__group {
    position: relative;
}

.timeline__group:not(:first-of-type) {
    margin-top: 4rem;
}

.timeline__year {
    padding: .5rem 1.5rem;
    color: var(--uiTimelineSecondaryColor);
    background-color: var(--uiTimelineMainColor);
    position: absolute;
    left: 0;
    top: 0;
}

.timeline__box {
    position: relative;
}

.timeline__box:not(:last-of-type) {
    margin-bottom: 30px;
}

.timeline__box:before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--uiTimelineMainColor);
    position: absolute;
    left: 0;
    z-index: -1;
}

.timeline__date {
    width: 5px;
    height: 5px;
    position: absolute;
    left: 23px;
    box-sizing: border-box;
    padding: .5rem .5rem;
    text-align: center;
    background-color: var(--uiTimelineMainColor);
    color: var(--uiTimelineSecondaryColor);
    border-radius: 50%;
}

.timeline__day {
    font-size: 1.3rem;
    font-weight: 700;
    display: block;
}

.timeline__month {
    display: block;
    font-size: .8em;
    text-transform: uppercase;
}

.timeline__post {
    padding: 1rem 1rem;
    border-radius: 2px;
    border-left: 3px solid var(--uiTimelineMainColor);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
    background-color: var(--uiTimelineSecondaryColor);
}

@media screen and (min-width: 641px) {
    .timeline:before {
        left: 30px;
    }
    .timeline__group {
        padding-top: 55px;
    }
    .timeline__box {
        padding-left: 80px;
    }
    .timeline__box:before {
        top: 50%;
        transform: translateY(-50%);
    }
    .timeline__date {
        top: 50%;
        margin-top: -30px;
    }
}

@media screen and (max-width: 640px) {
    .timeline:before {
        left: 0;
    }
    .timeline__group {
        padding-top: 40px;
    }
    .timeline__box {
        padding-left: 20px;
        padding-top: 70px;
    }
    .timeline__box:before {
        top: 90px;
    }
    .timeline__date {
        top: 0;
    }
}

.timeline {
    --timelineMainColor: #4557bb;
    font-size: 13px;
}

.iconEss {
    height: 50px;
    width: 50px;
    margin: 0 auto 5px auto;
}

.iconEss.leave {
    background: url(../images/img-ess.png) center center no-repeat;
    background-position: -50px 0px;
}

.iconEss.approval {
    background: url(../images/img-ess.png) center center no-repeat;
    background-position: 0px 0px;
}

.iconEss.medical {
    background: url(../images/img-ess.png) center center no-repeat;
    background-position: -50px -50px;
}

.iconEss.overtime {
    background: url(../images/img-ess.png) center center no-repeat;
    background-position: -100px 0px;
}

.iconEss.permit {
    background: url(../images/img-ess.png) center center no-repeat;
    background-position: -150px 0px;
}

.iconEss.reimburse {
    background: url(../images/img-ess.png) center center no-repeat;
    background-position: 0px -50px;
}

.custom-switch {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 34px;
    height: 14px;
    cursor: pointer;
    border: none;
    background-color: #9E9E9E;
    position: relative;
    -moz-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -ms-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -o-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.custom-switch+span {
    padding-left: 8px;
}

.custom-switch:before {
    content: "";
    position: absolute;
    margin: 0px;
    left: 0px;
    top: 0px;
    outline: 0px none;
    height: 20px;
    width: 20px;
    background-color: #FAFAFA;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -moz-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -ms-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -o-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transform: translate(0, -3px);
    -ms-transform: translate(0, -3px);
    transform: translate(0, -3px);
}

.custom-switch.active:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}

.custom-switch:after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.26);
    width: 48px;
    height: 48px;
    margin-top: -50%;
    margin-left: -40%;
    pointer-events: none;
    -moz-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -ms-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -o-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
}

.custom-switch.checked:before {
    -webkit-transform: translate(72%, -3px);
    -ms-transform: translate(72%, -3px);
    transform: translate(72%, -3px);
}

.custom-switch.checked:after {
    margin-left: 0%;
}

.custom-switch.disabled,
.custom-switch.disabled.checked {
    background-color: rgba(0, 0, 0, 0.12);
}

.custom-switch.disabled:before,
.custom-switch.disabled.checked:before {
    background-color: #BDBDBD;
}

.switch.switch-primary.checked {
    background-color: rgba(26, 188, 156, 0.5);
}

.switch.switch-primary.checked:after {
    background-color: rgba(26, 188, 156, 0.26);
}

.switch.switch-primary.checked:before {
    background-color: #0a3967;
}

.switch.switch-primary.checked.hover {
    cursor: pointer;
}

.switch.switch-success.checked {
    background-color: rgba(46, 204, 113, 0.5);
}

.switch.switch-success.checked:after {
    background-color: rgba(46, 204, 113, 0.26);
}

.switch.switch-success.checked:before {
    background-color: #2ecc71;
}

.switch.switch-success.checked.hover {
    cursor: pointer;
}

.switch.switch-info.checked {
    background-color: rgba(52, 152, 219, 0.5);
}

.switch.switch-info.checked:after {
    background-color: rgba(52, 152, 219, 0.26);
}

.switch.switch-info.checked:before {
    background-color: #3498db;
}

.switch.switch-info.checked.hover {
    cursor: pointer;
}

.switch.switch-warning.checked {
    background-color: rgba(241, 196, 15, 0.5);
}

.switch.switch-warning.checked:after {
    background-color: rgba(241, 196, 15, 0.26);
}

.switch.switch-warning.checked:before {
    background-color: #f1c40f;
}

.switch.switch-warning.checked.hover {
    cursor: pointer;
}

.switch.switch-danger.checked {
    background-color: rgba(231, 76, 60, 0.5);
}

.switch.switch-danger.checked:after {
    background-color: rgba(231, 76, 60, 0.26);
}

.switch.switch-danger.checked:before {
    background-color: #e74c3c;
}

.switch.switch-danger.checked.hover {
    cursor: pointer;
}

.onoffswitch {
    position: relative;
    width: 83px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 12px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 24px;
    padding: 0;
    line-height: 24px;
    font-size: 11px;
    color: white;
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "Approve";
    padding-left: 10px;
    background-color: #3CCFB9;
    color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "Reject";
    padding-right: 10px;
    background-color: #e74c3c;
    color: #FFFFFF;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 12px;
    margin: 6px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 55px;
    border: 1px solid #999999;
    border-radius: 12px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.box-purple {
    background-image: linear-gradient(120deg, #667eea 0%, #764ba2 100%);
}

.box-green {
    background-image: linear-gradient(120deg, #00cdac 0%, #26a69a 100%);
}

.box-blue {
    background-image: linear-gradient(120deg, #00c6fb 0%, #005bea 100%);
}

.box-orange {
    background-image: linear-gradient(120deg, #ff9a44 0%, #fc6076 100%);
}

.card {
    border: 0;
    border-radius: 3px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    margin-bottom: 20px;
}

.bg-grey-custome {
    background-color: #ecf0f5 !important;
}

.chart-legend {
    text-align: center;
}

.chart-legend ul {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-bottom: 0;
}

.chart-legend ul li {
    list-style: none;
    padding-left: 10px;
    font-size: 10px;
}

.chart-legend ul li span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

.blog .blog-content {
    padding: 10px 0 5px;
}

.blog .blog-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    padding-top: 10px;
    white-space: nowrap;
    vertical-align: middle;
}

.currency {
    text-align: right;
}

.currency[data-content]:before {
    content: attr(data-content);
    float: left;
    padding-right: 4px;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .9rem !important;
        padding-left: .9rem !important;
        padding-top: 0.8rem;
    }
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.error {
    color: #e74c3c;
}

table.dataTable tbody tr.selected {
    background-color: #e2ecff;
}

.magic-checkbox+label:after {
    border-color: #7aa2e2;
}

#showSelected {
    position: absolute;
    left: 190px;
    border: 1px solid #efe6e6;
    padding: 6px 14px;
    border-radius: 3px;
}

.pagination>li>a {
    padding: 8px 11px !important;
}