#main-wrapper {
    height: 100vh;
    .section {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.main-logo {
    background: url(../images/logo-blue.png) center center no-repeat;
    background-size: 90px;
    height: 50px;
    top: 20px;
    left: 50px;
}

.kl-login-avatar {
    position: relative;
    margin-bottom: -45px;
    img {
        border: 4px solid $white;
    }
}

.auth-box {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 100vh;
    .form-box {
        max-width: 450px;
        margin: 0 auto;
        min-width: 300px;
        .form-padding {
            padding: 40px 25px;
        }
    }
    .form-auth {
        margin: 20px -5px;
        .col {
            margin: 5px;
            -webkit-box-shadow: none;
            box-shadow: none;
            color: rgba(0, 0, 0, 0.6);
            font-size: 0.8rem;
            padding: 0.5rem 0.75rem !important;
            display: block;
            width: 100%;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
            &:focus {
                outline: 0;
                border-color: #505c70;
            }
        }
    }
}

@media (max-width: 768px) {
    .main-logo {
        background: url(../images/logo-blue.png) center center no-repeat;
        background-size: 90px;
        height: 50px;
    }
    .img-login {
        width: 80%;
    }
}

@media (max-width: 1024px) {
    .img-login {
        width: 80%;
    }
}