// main: ../styles.scss
.iconMale {
    background: url(../images/icon-gender.png) 0 center no-repeat;
    background-size: 90px;
    width: 50px;
    height: 50px;
    float: left;
}

.iconFemale {
    background: url(../images/icon-gender.png) -50px center no-repeat;
    background-size: 90px;
    width: 50px;
    height: 50px;
    float: left;
}

.icon-box {
    padding: 10px 10px;
    width: 60px;
    height: 60px;
}

.box-green {
    background-image: $gradient-green;
}

.box-orange {
    background-image: $gradient-orange;
}

.box-purple {
    background-image: $gradient-purple;
}

.box-blue {
    background-image: $gradient-blue;
}