html {
    min-width: 290px;
    -ms-overflow-style: scrollbar;
}

body {
    min-width: 290px;
    -ms-overflow-style: scrollbar;
    background-color: #ecf0f5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 13px;
    font-weight: normal;
    color: #172B4D;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 500;
}

ul {
    list-style: none;
}

::selection,
::-moz-selection {
    background-color: #003F6D;
    color: #fff;
}

::placeholder,
::-webkit-input-placeholder,
::-ms-input-placeholder,
:-ms-input-placeholder {
    color: #b1b9bd !important;
}

#content-container {
    position: relative;
    padding-top: 55px;
    padding-bottom: 35px;
    min-height: 95vh;
    background-color: #ecf0f5;
}

#page-head {
    height: 170px;
    background: #003F6D;
    padding: 30px 40px;
    h4,
    p,
    .text-main {
        color: $white;
    }
    .page-title {
        padding: 10px 0px;
        width: 100%;
    }
}

#page-content {
    padding: 0px 40px 0;
    position: relative;
    margin-top: 80px;
    min-height: calc(100vh - 120px);
}

@media (min-width: 768px) {
    #page-title {
        display: table;
        table-layout: fixed;
    }
    .page-header {
        display: table-cell;
        vertical-align: middle;
    }
    .searchbox {
        display: table-cell;
        vertical-align: middle;
        width: 300px;
        .form-control {
            background-color: transparent;
        }
    }
}

#page-head .error-code {
    margin-bottom: 10px;
}

.img-user {
    width: 32px;
    height: 32px;
    display: inline-block;
    position: relative;
}

#dropdown-user .ic-user {
    font-size: 16px;
    line-height: 59px;
    >i {
        vertical-align: middle;
        &:before {
            line-height: 1;
        }
    }
}

.username {
    float: right;
    white-space: nowrap;
    line-height: 59px;
    margin: 0 10px 0 0;
}

#footer {
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    background-color: #f6f8fa;
    color: #7a878e;
    padding: 10px;
}

.collapsing {
    transition-duration: 10ms;
}

.sw-theme-arrows {
    border: none;
    .step-anchor {
        border-bottom: none !important;
    }
}

.effect {
    #navbar,
    #content-container,
    #mainnav-container,
    #aside-container,
    #footer,
    .navbar-brand,
    .navbar-content,
    .navbar-header:before,
    .page-fixedbar-container {
        transition-property: width, padding, left, right;
        transition-duration: 0.35s;
    }
    .navbar-content {
        transition-property: margin-left;
    }
    .collapsing {
        transition-duration: 0.4s;
    }
}

.tag {
    &:not(.label) {
        background-color: #fff;
        font-size: .9em;
        padding: 5px 10px;
        border-radius: 3px;
        border: 1px solid #f2f2f2;
        line-height: 1.42857;
        vertical-align: middle;
        -webkit-transition: all .15s;
        transition: all .15s;
        margin-bottom: 4px;
        i {
            vertical-align: middle;
        }
    }
    &.tag-lg {
        padding: 10px 16px;
    }
}

.tag.tag-xs,
.btn-group-xs>.tag {
    padding: 1px 5px;
}

.scroll-top {
    display: none;
    &.in {
        display: block;
        background-color: #003F6D;
        color: #fff;
        cursor: pointer;
        position: fixed;
        bottom: 45px;
        right: 15px;
        z-index: 999999;
        opacity: 1;
        padding: 10px;
        font-size: 1.5em;
        border-radius: 100%;
        box-shadow: none;
        transition: all 0.15s;
        &:hover {
            opacity: 1;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            transform: scale(1.1);
            transition: all 0.15s;
        }
        &:active {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;
            transform: scale(1.05);
            transition: all 0.15s;
        }
        >i {
            display: block;
            width: 1em;
            height: 1em;
            line-height: 1.1em;
        }
    }
}

.img-thumbnail {
    padding: 0.05rem;
}

.lang-flag {
    display: inline-block;
    padding: 3px 5px 3px 0;
}

.lang-selected>.lang-flag {
    padding: 0;
}

.lang-id,
.lang-selector .lang-id {
    display: none;
}

.lang-name {
    vertical-align: middle;
}

.lang-selector {
    .lang-id {
        display: inline-block;
    }
    +.dropdown-menu {
        .lang-name {
            display: inline-block;
        }
        a {
            padding: 10px !important;
        }
        .active {
            display: none;
        }
    }
}

@media (min-width: 992px) {
    .lang-id,
    .lang-selector .lang-id {
        display: none;
    }
}

.fa-spin,
.spin-anim {
    display: block !important;
    animation: fa-spin 2s infinite linear;
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes dd-update {
    1% {
        color: #fff;
        background-color: #003F6D;
    }
    100% {
        background-color: #fff;
    }
}

@keyframes dd-dragging {
    1% {
        background-color: #fff;
        box-shadow: none;
    }
    100% {
        background-color: #003F6D;
        color: #fff;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    }
}

.navbar-toggle .icon-bar {
    background-color: #aaa;
}

.canvas-responsive {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: $blue;
    outline: 0;
    &:hover,
    &:focus {
        text-decoration: none;
        color: $blue-navy;
        outline: 0 !important;
    }
}

button {
    outline: 0 !important;
    &:focus {
        outline: 0 !important;
    }
}

code {
    background-color: #e7e3f2;
    color: #ff0000;
    padding: 2px 7px;
    border-radius: 3px;
    font-size: 97%;
}

kbd {
    border-radius: 2px;
    box-shadow: none;
}

label {
    font-weight: normal;
}

legend {
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    border-color: #eee;
}

mark,
.mark {
    background-color: #ffe3a2;
    color: #563c00;
    padding: 0.1em;
}

.close {
    font-size: 15px;
    color: #4d627b;
    opacity: 1;
    text-shadow: none;
    &:focus,
    &:hover {
        color: #4d627b;
        opacity: 0.7;
    }
}

hr {
    border-color: rgba(0, 0, 0, 0.07);
}

.hr-wide {
    margin-left: -10px;
    margin-right: -10px;
}

.hr-xs {
    margin: 5px 0;
}

.hr-sm {
    margin: 10px 0;
}

.media-block {
    .media-left {
        display: block;
        float: left;
    }
    .media-right {
        float: right;
    }
    .media-body {
        display: block;
        overflow: hidden;
        width: auto;
    }
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

.middle {
    .media-left,
    .media-right,
    .media-body {
        vertical-align: middle;
    }
}

.thumbnail {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px;
    border-radius: 3px;
    border-color: rgba(0, 0, 0, 0.07);
    .caption {
        padding: 10px 0 5px;
        color: #7a878e;
    }
    &.selected {
        box-shadow: 0 0 0 2px;
    }
}

.breadcrumb {
    border-radius: 0;
    background-color: transparent;
    margin: 0;
    padding: 0px;
    font-size: 1em;
    li {
        a {
            color: #6c757d;
            &:hover {
                color: #6c757d;
                text-decoration: none;
            }
        }
    }
    >li+li:before {
        content: "" !important;
        border-color: #6c757d;
        border-style: solid;
        border-width: .1em .1em 0 0;
        display: inline-block;
        height: .55em;
        left: 0;
        position: relative;
        width: .55em;
        padding: 0 !important;
        margin-left: 1ex;
        margin-right: 1.7ex;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .active {
        color: #003f6d;
    }
}

.well,
pre {
    background-color: #e9eeef;
    border-color: rgba(0, 0, 0, 0.07);
    border-radius: 3px;
    box-shadow: none;
    color: inherit;
}

blockquote {
    border-left: 3px solid rgba(0, 0, 0, 0.2);
    position: relative;
    text-indent: 3ex;
}

.pace {
    position: fixed;
    width: 100%;
    height: 3px;
    z-index: 9999;
    top: 0;
    left: 0;
    &:before {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background-color: rgba(255, 255, 255, 0.4);
        position: absolute;
    }
    .pace-progress-inner {
        box-shadow: 0 0 10px #003F6D, 0 0 5px #003F6D;
    }
    .pace-activity {
        background-color: #003F6D;
    }
}

.pace-inactive {
    display: none;
}

.pace-progress {
    height: 3px;
    z-index: 2;
    position: relative;
    transition: all 0.1s;
}

.pace-activity {
    display: none;
}

#verticalnav {
    .list-header {
        font-size: 0.88em;
        font-weight: 700;
        color: #3c4045;
        text-transform: uppercase;
    }
    .list-divider {
        border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    }
    .active {
        color: $primary;
        background: $light4;
    }
}

.box-icon {
    margin: 20px 0px;
    &:hover {
        opacity: 0.9;
        #set-favourite {
            display: block;
        }
    }
    #set-favourite {
        cursor: pointer;
        display: none;
    }
}