// main: ../styles.scss

/*Bootstrap Color*/

$danger: #f44336;
$success: #00c292;
$warning: #ffb300;
$primary: #003f6d;
$info: #008efa;
$muted: #98a6ad;
$dark: #3e4d6c;
$inverse: #3e4d6c;
$light: #9fa9ba;
$extralight: #fafbfc;

/*Normal Color*/

$blue-navy: #25476a;
$white: #ffffff;
$purple: #2c5ca9;
$blue: #003f6d;
$yellow: #ffb300;
$border: #e3e5e8;
$megna: #00b5c2;
$mint: #26a69a;
$grey: #e6eaee;
$gold: #c3bd6f;
$lightgray: #dddddd;
$lightdark3: #333333;
$lightdark4: #444444;
$lightdark5: #555555;
$lightdark7: #797979;
$light1: #f2f5f8;
$light3: #f3f3f3;
$light4: #f4f5f7;
$light5: #f5f5f5;
$light9: #f9f9f9;
$light10: #ecf0f4;
$light-alt: #fafafa;
$lightdark-alt: #cccccc;
$dark-text: #848a96;

/*Chart Color*/

$green-chart: #70c8be;
$gold-chart: #e4dd81;
$blue-chart: #2c82be;
$blue1-chart: #76ddfb;
$blue2-chart: #89befb;
$blue3-chart: #4a90e2;
$blue4-chart: #3c7ab7;
$rgt: right;
$lft: left;
// Width &  Height variables
$width: 100%;
$height: 100%;

/*Border radius*/

$spacers:5px;
$radius: 3px;

/*Font weight & size */

$font-bold: 500;
$font-10: 10px;
$font-11: 11px;
$font-12: 12px;
$font-13: 13px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$gradient-green: linear-gradient(120deg, #00cdac 0%, #26a69a 100%);
$gradient-orange: linear-gradient(120deg, #ff9a44 0%, #fc6076 100%);
$gradient-purple: linear-gradient(120deg, #667eea 0%, #764ba2 100%);
$gradient-blue: linear-gradient(120deg, #00c6fb 0%, #005bea 100%);
$gradient-primary: linear-gradient(120deg, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
$gradient-danger: linear-gradient(120deg, #f5683d 0%, #ff0844 100%);